<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.adapter.modules.sbjf.service.impl.PayServiceImpl">

    <!--获取缴费清单-->
    <select id="toPaylist" parameterType="java.util.Map"
            resultType="com.tecsun.sisp.adapter.modules.sbjf.entity.ToPayEntity">
        select * from TEST_YTH_PAY_LIST pl
        where
        pl.insure_code = #{insureCode}
        <if test="xm != null and sfzh != null and insureCode == 'FE'.toString()">
            and pl.xm = #{xm} AND pl.sfzh = #{sfzh}
        </if>
        and (pl.status = 0 or pl.status = 2)
        and pl.pay_num = #{payNum}
    </select>

    <select id="getToPayInfo" parameterType="long"
            resultType="com.tecsun.sisp.adapter.modules.sbjf.entity.ToPayEntity">
        select * from TEST_YTH_PAY_LIST pl
        where pl.pay_id = #{payId}
    </select>

    <!-- 更新待缴费记录 -->
    <update id="updateToPayInfo" parameterType="java.util.Map">
        update TEST_YTH_PAY_LIST pl
        set
        pl.status = #{status},
        pl.grade_amount = #{gradeAmount},
        pl.grade_code = #{gradeCode},
        pl.grade_name = #{gradeName},
        pl.sub_insure_code = #{subInsureCode},
        pl.update_time = sysdate
        where pl.pay_id = #{payId}
    </update>

    <!--根据身份证和姓名获取最新缴费单号 -->
    <select id="getPayNum" parameterType="com.tecsun.sisp.adapter.modules.sbjf.entity.inputBean.GetListBean"
            resultType="String">
        select plu.pay_num from TEST_YTH_PAY_LIST_USER plu
        where sfzh = #{sfzh} and xm = #{xm}
        and plu.create_time = (
        select max(create_time) from TEST_YTH_PAY_LIST_USER
        where sfzh = #{sfzh} and xm = #{xm}
        )
    </select>
</mapper>