<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.tecsun.sisp.fakamanagement.modules.service.impl.replacement.ReplaceCardStorageServiceImpl">
	<!-- 人社新增预制卡数据 -->
	<insert id="insertReplaceCardInfo"
		parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardStorageBean">
		<selectKey keyProperty="id" resultType="java.lang.Integer"
			order="BEFORE">
			select seq_replacecard_box.nextval from dual
		</selectKey>
		insert into
		replacecard_box(ID,BOXNO,CARDNO_START,CARDNO_END,STATUS,BANK,CARDNO_SUM,SURPLUS_SUM,CLAIM,USERID,CREATE_TIME)
		values(#{id},#{boxNo},#{cardNoStart},#{cardNoEnd},#{status},#{bank},#{cardNoSum},#{surplusSum},#{claim},#{userid},sysdate)
	</insert>

	<!--修改预制卡信息 -->
	<update id="updateReplaceCardInfo"
		parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardStorageBean">
		update replacecard_box set
		STATUS=#{status},CLAIM=#{claim}, UPDATE_TIME=sysdate
		where ID=#{id}
	</update>

	<!--根据ID查询数据 -->
	<select id="getReplaceCardInfobyId" parameterType="java.lang.Integer"
		resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.replacement.ReplaceCardStorageVO">
		select ID as id,CARDNO_START as cardNoStart,CARDNO_END as
		cardNoEnd,BANK as bank,
		CARDNO_SUM as cardNoSum,SURPLUS_SUM as
		surplusSum,CLAIM as claim
		from replacecard_box
		where id=#{id}
	</select>

	<!--获取BoxId by boxNo-->
	<select id="getBoxId" parameterType="java.lang.String"
		resultType="java.lang.String">
		select id from replacecard_box where BOXNO = #{boxNo}
	</select>
	
	<!--获取BoxId by replaceCardNo -->
	<select id="getBoxIdbyReplaceCardNo" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardStorageBean"
		resultType="java.lang.String">
		select id from 
		(select id,regexp_substr(cardno_start,'[0-9]+') as cardNoStart,regexp_substr(cardno_end,'[0-9]+') as cardNoEnd from replacecard_box)
        where cardNoStart &lt;= #{cardNoEnd} and cardNoEnd &gt;= #{cardNoStart}
	</select>

	<!--获取银行网点编码 -->
	<select id="getBankName" parameterType="java.lang.String"
		resultType="java.lang.String">
		select name as bankName from sisp_public.T_ORG o
		where
		o.org_code=#{bankCode}
	</select>
	<!--修改入库网点信息 -->
	<update id="updateReplaceCardBox"
		parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardStorageBean">
		update replacecard_box set
		rkwd=#{rkwd},
		UPDATE_TIME=sysdate
		where BOXNO=#{boxNo}
	</update>
	<!-- 查询预制卡市银行接收列表 -->
	<select id="getBankNetBoxList"
		parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.replacement.ReplaceCardStorageVO"
		resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.replacement.ReplaceCardStorageVO">

		select id,BOXNO as boxNo,cardNoStart as cardNoStart,cardNoEnd as cardNoEnd,
		CARDNO_SUM as cardNoSum,SURPLUS_SUM as surplusSum,STATUS as status,
		BANK as bank,CLAIM as claim 
		from 
       (select id,BOXNO,regexp_substr(cardno_start,'[0-9]+') as cardNoStart,
        regexp_substr(cardno_end,'[0-9]+') as cardNoEnd,
        status,bank,cardno_sum,surplus_sum,claim,userid from replacecard_box order by create_time desc) 
        where status not in ('00')
        <if test="boxNo!=null and boxNo!=''">
				and BOXNO=#{boxNo}
			</if>
			<if test="cardNoStart!=null and cardNoStart!=''">
				and cardNoStart &lt;= #{cardNoStart}
			</if>
			<if test="cardNoStart!=null and cardNoStart!=''">
				and cardNoEnd &gt;= #{cardNoStart}
			</if>
			<if test="bank!=null and bank!=''">
				and bank=#{bank}
			</if>
			<if test="status!=null and status!=''">
				and status=#{status}
			</if>    
	</select>
	<!--查询预制卡卡盒列表 -->
	<select id="getReplaceCardBox"
		parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.replacement.ReplaceCardStorageVO"
		resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.replacement.ReplaceCardStorageVO">
		select * from (select t.id,t.boxno as boxNo,regexp_substr(t.cardno_start,'[0-9]+') as cardNoStart,
		regexp_substr(t.cardno_end,'[0-9]+') as cardNoEnd,
		t.cardno_start || '-' || t.cardno_end as
		cardNOPerBox,t.CARDNO_SUM as cardNoSum,
		t.SURPLUS_SUM as
		surplusSum,CLAIM as claim,t.status,t.bank as bank
		from REPLACECARD_BOX t)
		where 1=1
		<if test="id!=null and id!=''">
			and id = #{id}
		</if>
		<if test="status!=null and status!=''">
			<if test='status=="00"'>
				and status = #{status}
			</if>
			<if test='status=="01"'>
				and status in ('01','02','03')
			</if>	
		</if>
		<if test="bank!=null and bank!=''">
			and bank = #{bank}
		</if>
		<if test="cardNoStart!=null and cardNoStart!=''">
			and cardNoStart &lt;= #{cardNoStart}
		</if>
		<if test="cardNoStart!=null and cardNoStart!=''">
			and cardNoEnd &gt;= #{cardNoStart}
		</if>
		<if test="boxNo!=null and boxNo!=''">
			and boxno = #{boxNo}
		</if>
	</select>

	<!--通过org_id查询发卡网点 -->
	<select id="getFkwdById" parameterType="java.lang.String"
		resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.DistinctAndBankVO">
		select o.org_id id,o.org_code code,name from
		sisp_public.t_org o where
		o.org_code=#{bankNo}
	</select>
	
	<!-- 网点保存预制卡数据 -->
	<insert id="insertReplaceCardDetail"
		parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardDetailBean">
		<selectKey keyProperty="id" resultType="java.lang.Integer"
			order="BEFORE">
			select seq_replacecard_detail.nextval from dual
		</selectKey>
		insert into
		replacecard_detail(ID,REPLACECARD_NO,ATR,BANK,RKWD,STATUS,CREATE_TIME)
		values(#{id},#{replaceCardNo},#{atr},#{bank},#{rkwd},#{status},sysdate)
	</insert>

	<!-- 修改表replacecard_detail -->
	<update id="updateReplaceCardDetailStatus"
		parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardStorageBean">
		update REPLACECARD_BOX SET
		STATUS=#{status},SURPLUS_SUM=#{surplusSum},UPDATE_TIME=sysdate
		where ID=#{id}
	</update>
	<!-- 查询预制卡市银行网点接收列表 -->
	<select id="getBankOutletReplaceCard"
		parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardDetailBean"
		resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.replacement.ReplaceCardDetailVO">


		select d.id,d.REPLACECARD_PERSON_ID as
		replaceCardPersonId,d.REPLACECARD_NO
		as replaceCardNo,
		d.ATR as
		atr,d.BANK as bank,d.RKWD as rkwd,d.STATUS as status,
		d.FAKA_TIME as
		fakaTime,d.CARDID as cardid,p.NAME as name,p.idcard as
		idcard,p.mobile
		as mobile,
		p.replace_type as replaceType,p.replace_reason as
		replaceReason,p.photo_url as
		photoUrl,
		p.sign_photo as
		signPhoto,p.idcard_photo_up as idcardPhotoUp,p.idcard_photo_down
		as
		idcardPhotoDown
		from REPLACECARD_DETAIL d left join replacecard_person_info p
		on p.id=d.replacecard_person_id
		where 
		d.rkwd=#{rkwd}
		<if test="idcard!=null and idcard!=''"> and p.idcard
			= #{idcard}
		</if>
		<if test="id!=null and id!=''"> and d.id
			= #{id}
		</if>
		<if test="replaceCardNo!=null and replaceCardNo!=''"> and d.REPLACECARD_NO
			= #{replaceCardNo}
		</if>
		<if test="status!=null and status!=''"> and d.STATUS
			= #{status}
		</if>
		<if test="cardid!=null and cardid!=''"> and d.CARDID = #{cardid}
		</if>
	</select>
	
	 <!--通过用户ID查询入库网点-->
    <select id="getRkwd" parameterType="java.lang.String" resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.statistics.ORGVO">
        select o.org_code  as orgCode,o.org_id as orgId,o.name as orgName,o.distinct_id as distinctId,parent_org_id as parentId
        from sisp_public.T_USER t,sisp_public.t_org o where o.org_id=t.org_id and t.user_id=#{userid}
    </select>
    
    <!--判断银行下发网点时有无已下发数据 -->
	<select id="getReplaceCardDetailListId" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardStorageBean"
		resultType="java.lang.String">
		select id from (select id,regexp_substr(replacecard_no,'[0-9]+') as replacecard_no from replacecard_detail)
       where replacecard_no &gt;=#{cardNoStart} and replacecard_no &lt;= #{cardNoEnd}
	</select>
</mapper>
