<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.fakamanagement.modules.service.impl.replacement.ReplacementCardServiceImpl">

    <!--查询发行服务卡人员信息-->
    <select id="getCardInfoByIdcard" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.replacement.ReplaceCardVO">
        select idcard,fkwd as rkwd
        from card_info
        where idcard=#{idcard}
    </select>

    <!--查询是否存在补换卡人员信息-->
    <select id="checkReplacePerson" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.replacement.ReplaceCardVO">
        select id,name,idcard from replacecard_person_info
        where idcard=#{idcard}
    </select>

    <!--查询是否存在补换卡信息-->
    <select id="checkReplaceCard" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.replacement.ReplaceCardVO">
        select id,replacecard_no from replacecard_detail
        where 1=1
        <if test="replacecardNo!=null and replacecardNo!=''">
            and replacecard_no=#{replacecardNo}
        </if>
        <if test="atr!=null and atr!=''">
            or atr=#{atr}
        </if>
    </select>

    <!--插入人员信息-->
    <insert id="insertReplacePerson" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardBean">
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
            select seq_replacecard_person_info.nextval from dual
        </selectKey>
        insert into replacecard_person_info(id,name,idcard,mobile,replace_type,replace_reason,photo_url,create_time)
        values(#{id},#{name},#{idcard},#{mobile},#{replaceType},#{replaceReason},#{photoUrl},sysdate)
    </insert>

    <!--修改人员信息-->
    <update id="updateReplacePerson" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardBean">
        update replacecard_person_info set
        name=#{name}, mobile=#{mobile}, replace_type=#{replaceType}, replace_reason=#{replaceReason}, photo_url=#{photoUrl}, update_time=sysdate
        where idcard=#{idcard}
    </update>

    <!--插入即制卡信息-->
    <insert id="insertReplaceCard" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardBean">
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
            select seq_replacecard_detail.nextval from dual
        </selectKey>
        insert into replacecard_detail(id,replacecard_person_id,replacecard_no,cardid,atr,bank,rkwd,status,faka_time,create_time)
        values(#{id},#{replacecardPersonId},#{replacecardNo},#{cardid},#{atr},#{bankCode},#{rkwd},#{status},sysdate,sysdate)
    </insert>

    <!--修改即制卡信息-->
    <update id="updateReplaceCard" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.replacement.ReplaceCardBean">
        update replacecard_detail set
        replacecard_person_id=#{replacecardPersonId}, cardid=#{cardid}, atr=#{atr}, bank=#{bankCode}, status=#{status}, faka_time=sysdate, update_time=sysdate
        where replacecard_no=#{replacecardNo} or atr=#{atr}
    </update>



</mapper>