<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.adapter.modules.train.service.impl.ConditionServiceImpl">

    <!-- 查询培训筛选条件-->
    <select id="selectCondition"
            resultType="com.tecsun.sisp.adapter.modules.train.entity.response.TrainConditionBean">

        select t.key,t.value from T_YTH_TRAIN_CONDITION t where t.enabled = 0 order by t.sequence

    </select>

</mapper>