<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.fakamanagement.modules.service.impl.temporaryCard.BranchOperateServiceImpl">

    <!--查询网点临时卡列表-->
    <select id="getTemporaryCardList" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.temporaryCard.TemporaryCardInfoBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.temporaryCard.TemporaryCardInfoVO">
        select * from(
        select d.id,d.rkwd,d.tempcard_no,d.status,d.atr,to_char(d.recovery_time,'yyyy-MM-dd')as recoveryTime,
        decode(d.status,'00','','04','',p.cardid)as cardid,
        decode(d.status,'00','','04','',p.name)as name,
        decode(d.status,'00','','04','',p.idcard)as idcard,
        decode(d.status,'00','','04','',to_char(p.grant_time,'yyyy-MM-dd'))as grantTime,
        Row_Number() Over(Partition By d.tempcard_no Order By p.grant_time Desc) rk
        from tempcard_detail d left join tempcard_person_info p on d.id=p.tempcard_detail_id
        where 1=1 ) a where rk=1
        <if test="rkwd!=null and rkwd!=''">
            and rkwd=#{rkwd}
        </if>
        <if test="tempcardNo!=null and tempcardNo!=''">
            and tempcard_no=#{tempcardNo}
        </if>
        <if test="cardid!=null and cardid!=''">
            and cardid=#{cardid}
        </if>
        <if test="idcard!=null and idcard!=''">
            and idcard=#{idcard}
        </if>
        <if test="status!=null and status!=''">
            and status=#{status}
        </if>
    </select>

    <!--修改临时卡信息-->
    <update id="updateTemporaryInfo" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.temporaryCard.TempCardPersonVO">
        update tempcard_detail
        set atr=#{atr},status=#{cardStatus},update_time=sysdate
        where tempcard_no=#{tempcardNo}
    </update>

    <!--发卡新增临时卡人员信息-->
    <insert id="addTempCardPersonInfo" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.temporaryCard.TempCardPersonVO">
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
            select SEQ_TEMPCARD_PERSON_INFO.nextval from dual
        </selectKey>
        insert into tempcard_person_info(id,tempcard_detail_id,name,idcard,cardid,agent_idCard,agent_name,fkrq,kyxq,
        AZ01LID,AZ01ID,AZ02ID,status,grant_time,create_time)
        values(#{id},#{tempcardDetailId},#{name},#{idcard},#{cardid},#{agentIdCard},#{agentName},#{fkrq},#{kyxq},
        #{az01LID},#{az01ID},#{az02ID},#{personStatus},sysdate,sysdate)
    </insert>

    <!--修改临时卡人员信息-->
    <update id="updateTempCardPersonInfo" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.temporaryCard.TempCardPersonVO">
        update tempcard_person_info
        set status=#{personStatus},update_time=sysdate
        where idcard=#{idcard}
    </update>

    <!--注销临时卡-->
    <update id="cancelTemporaryInfo" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.temporaryCard.FakaParamBean">
        update tempcard_detail
        set status=#{cardStatus},waste_position=#{wastePosition},waste_time=sysdate,cancel_time=sysdate
        where tempcard_no=#{tempcardNo}
    </update>

    <!--收回临时卡-->
    <update id="recycleTemporaryInfo" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.temporaryCard.FakaParamBean">
        update tempcard_detail
        set status=#{cardStatus},recovery_time=sysdate
        where tempcard_no=#{tempcardNo}
    </update>

    <!--发放临时卡-修改库存-->
    <update id="updateAddTempNum" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.temporaryCard.TempCardPersonVO">
        update tempcard_info
        set card_grant_num=card_grant_num+1,card_surplus_num=card_surplus_num-1,update_time=sysdate
        where rkwd=#{rkwd}
    </update>

    <!--注销临时卡-修改库存-->
    <update id="updateCancelTempoNum" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.temporaryCard.FakaParamBean">
        update tempcard_info
        set cancel_num=cancel_num+1,update_time=sysdate
        where rkwd=#{rkwd}
    </update>

    <!--回收临时卡-修改库存-->
    <update id="updateRecycleTempNum" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.temporaryCard.FakaParamBean">
        update tempcard_info
        set card_surplus_num=card_surplus_num+1,recovery_num=recovery_num+1,update_time=sysdate
        where rkwd=#{rkwd}
    </update>


</mapper>