<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.adapter.modules.common.service.impl.CommServiceImpl">
    <!--上传图片-->
    <insert id="uploadPicture"
            parameterType="com.tecsun.sisp.adapter.modules.common.entity.request.PicBean">
        <selectKey resultType="long" keyProperty="picId" order="BEFORE">
            select T_YTH_PICTURE_INFO_PIC_ID_SEQ.nextVal as picId from dual
        </selectKey>
        insert into T_YTH_PICTURE_INFO
        (PIC_ID,PIC_PATH,CREATE_TIME)
        values(#{picId},#{picPath},sysdate)
    </insert>
    <!--查询图片地址-->
    <select id="getPicture" parameterType="long"
            resultType="com.tecsun.sisp.adapter.modules.common.entity.request.PicBean">
        select PIC_ID,PIC_PATH from T_YTH_PICTURE_INFO p where p.PIC_ID=#{picId}
    </select>

    <!--更改图片信息表-->
    <update id="updatePicture"
            parameterType="com.tecsun.sisp.adapter.modules.common.entity.request.PicBean">
        update T_YTH_PICTURE_INFO set UPDATE_TIME=sysdate
        <if test="picPath !=null and picPath !=''">,PIC_PATH=#{picPath}</if>
        where PIC_ID=#{picId}
    </update>

    <!--根据personID及图片信息获取图片id-->
    <select id="getPictureByPersonId" parameterType="com.tecsun.sisp.adapter.modules.common.entity.request.PicBusBean"
            resultType="com.tecsun.sisp.adapter.modules.common.entity.request.PicBusBean">
        select picId,picType,picStatus from(
        select pb.PIC_ID as picId, pb.PIC_TYPE as picType,pb.PIC_STATUS as picStatus
        from T_YTH_PICTURE_BUS pb where pb.PIC_TYPE=#{picType}
        <if test="picStatus !=null and picStatus !=''"> and pb.PIC_STATUS=#{picStatus}</if>
        and pb.PIC_ID in (
        select pp.PIC_ID from T_YTH_PERSON_PIC pp where pp.PERSON_ID=#{personId} )
        order by pb.PICBUS_ID desc) where rownum=1
    </select>
    <!--存入图片关联人员表-->
    <insert id="insertPersonPic"
            parameterType="com.tecsun.sisp.adapter.modules.common.entity.request.PicBusBean">
        <selectKey resultType="long" keyProperty="perpicId" order="BEFORE">
            select T_YTH_PERSON_PIC_PERPIC_ID_SEQ.nextVal as perpicId from dual
        </selectKey>
        insert into T_YTH_PERSON_PIC
        (PERPIC_ID,PERSON_ID,PIC_ID,CREATE_TIME)
        values(#{perpicId},#{personId},#{picId},sysdate)
    </insert>

    <!--存入图片业务表-->
    <insert id="insertPictureBus"
            parameterType="com.tecsun.sisp.adapter.modules.common.entity.request.PicBusBean">
        <selectKey resultType="long" keyProperty="perbusId" order="BEFORE">
            select T_YTH_PICTURE_BUS_ID_SEQ.nextVal as perbusId from dual
        </selectKey>
        insert into T_YTH_PICTURE_BUS
        (PICBUS_ID,PIC_ID,PIC_TYPE,PIC_STATUS,PIC_MESSAGE,CREATE_TIME)
        values(#{perbusId},#{picId},#{picType},#{picStatus},#{picMessage},sysdate)
    </insert>

    <!--更改图片业务表-->
    <update id="updatePictureBus"
            parameterType="com.tecsun.sisp.adapter.modules.common.entity.request.PicBusBean">
        update T_YTH_PICTURE_BUS set UPDATE_TIME=sysdate
        <if test="picStatus !=null and picStatus !=''">,PIC_STATUS=#{picStatus}</if>
        <if test="picType !=null and picType !=''">,PIC_TYPE=#{picType}</if>
        <if test="picMessage !=null and picMessage !=''">,PIC_MESSAGE=#{picMessage}</if>
        where PIC_ID=#{picId}
    </update>
    <!--非资格认证-存入认证业务记录表-->
    <insert id="insertVerifyRecord"
            parameterType="com.tecsun.sisp.adapter.modules.treatment.entity.request.VerifyBean">
        <selectKey resultType="long" keyProperty="verifyId" order="BEFORE">
            select T_YTH_VERIFY_RECORD_ID_SEQ.nextVal as verifyId from dual
        </selectKey>
        insert into T_YTH_VERIFY_RECORD
        (
        VERIFY_ID,SFZH,XM,VERIFY_TYPE,VERIFY_DATA,VERIFY_BASE64,COMPARISON_DATA,COMPARISON_BASE64,VERIFY_CHANNEL,EQUIPMENT_NO,VERIFY_ADDRESS,
        VERIFY_TIME,VERIFY_RESULT,FAIL_REASON,VERIFY_HAND,VERIFY_BUS,CREATE_TIME)
        values(#{verifyId},#{sfzh},#{xm},#{verifyType},#{verifyData},#{verifyBase64},#{comparisonData},#{comparisonBase64},#{verifyChannel},#{deviceid},#{verifyAddress},
        to_date(#{verifyTime},'yyyy-mm-dd hh24:mi:ss'),#{verifyResult},#{failReason},#{verifyHand},#{verifyBus},sysdate)
    </insert>

    <!--存入个人基本信息表-->
    <insert id="insertBasicPersonInfo"
            parameterType="com.tecsun.sisp.adapter.modules.common.entity.request.PersonBean">
        <selectKey resultType="long" keyProperty="personId" order="BEFORE">
            select T_YTH_BASIC_PERSON_INFO_ID_SEQ.nextVal as personId from dual
        </selectKey>
        insert into T_YTH_BASIC_PERSON_INFO
        (PERSON_ID,SFZH,XM,SEX,NATION,BIRTHDAY,SBKH,DOMICILE,PHONE,CREATE_TIME)
        values(#{personId},#{sfzh},#{xm},#{sex},#{nation},to_date(#{birthday},'yyyy-MM-dd'),#{sbkh},#{domicile},#{phone},sysdate)
    </insert>

    <!--更改个人基本信息表-->
    <update id="updateBasicPersonInfo"
            parameterType="com.tecsun.sisp.adapter.modules.common.entity.request.PersonBean">
        update T_YTH_BASIC_PERSON_INFO set UPDATE_TIME=sysdate
        <if test="sex !=null and sex !=''">,SEX=#{sex}</if>
        <if test="nation !=null and nation !=''">,NATION=#{nation}</if>
        <if test="domicile !=null and domicile !=''">,DOMICILE=#{domicile}</if>
        <if test="phone !=null and phone !=''">,PHONE=#{phone}</if>
        <if test="sbkh !=null and sbkh !=''">,SBKH=#{sbkh}</if>
        <if test="birthday !=null and birthday !=''">,BIRTHDAY=to_date(#{birthday},'yyyy-MM-dd')</if>
        where sfzh=#{sfzh}
    </update>

    <!--查询个人基本信息-->
    <select id="getBasicPersonInfo" parameterType="java.util.Map"
            resultType="com.tecsun.sisp.adapter.modules.common.entity.request.PersonBean">
        SELECT p.person_id as personId,p.xm,p.sfzh,p.sex,p.nation,p.sbkh,p.birthday,p.domicile,p.phone
        FROM T_YTH_BASIC_PERSON_INFO p
        where 1=1 AND p.sfzh = #{sfzh}
        <if test="xm != null and xm != ''">
            AND p.xm = #{xm}
        </if>
    </select>

    <!--查询区域编码-->
    <select id="getCode" parameterType="java.lang.String" resultType="java.lang.String">
       select d.code from t_distinct d
         where d.distinct_id = (select area_id from T_DEVICE_REGIST t where equipment_no = #{deviceId})
    </select>

    <!--查询区域编码——设备数据从设备管理系统同步-->
    <select id="getCodeOfDevice" parameterType="java.lang.String" resultType="java.lang.String">
        select AREACODE from T_YTH_DEVICE d  where  1=1  and equipment_no=#{deviceId}
    </select>

    <!--查询德生宝地址-->
    <select id="getTsbAddress" parameterType="java.lang.String" resultType="java.lang.String">
      select t.ADDRESS from T_DEVICE_REGIST t where equipment_no = #{deviceId}
    </select>
    <!--查询德生宝地址——设备数据从设备管理系统同步-->
    <select id="getTsbAddressOfDevice" parameterType="java.lang.String" resultType="java.lang.String">
        select BRANCH from T_YTH_DEVICE d  where  1=1  and equipment_no=#{deviceId}
    </select>

    <!--查询德生宝和社保网点关联信息-->
    <select id="getTsbSssmInfo" parameterType="java.lang.String"
             resultType="com.tecsun.sisp.adapter.modules.so.entity.response.TSBSssmVO">
     select  org_id as orgId, cssp_bank_id as csspBankId,devcode from T_DEVICE_REGIST t where equipment_no = #{deviceId}
    </select>

    <!--查询德生宝和社保网点关联信息——设备数据从设备管理系统同步-->
    <select id="getTsbSssmInfoOfDevice" parameterType="java.lang.String"
             resultType="com.tecsun.sisp.adapter.modules.so.entity.response.TSBSssmVO">
     select s.SSSM_ORG_ID as orgId,s.SSSM_BANK_ID as  csspBankId   from T_YTH_DEVICE_SSSM s
      where  1=1 and s.deviceno= (
         select deviceno from T_YTH_DEVICE d  where  1=1  and equipment_no=#{deviceId}
      )
    </select>

    <!--查询数据字典表-->
    <select id="getDictionaryById" parameterType="java.lang.String"
            resultType="com.tecsun.sisp.adapter.modules.common.entity.response.DictionaryVO">
        select  * from T_DICTIONARY t where GROUPID = #{groupid}
    </select>

    <!--获取网点列表-->
    <select id="getBranchList"
            parameterType="com.tecsun.sisp.adapter.modules.common.entity.request.BranchBean"
            resultType="com.tecsun.sisp.adapter.modules.common.entity.response.Branch">
        <!--
                SELECT t.id,t.name,t.address,t.longitude,t.latitude,t.telephone,
                GetDistance( #{longitude}, #{latitude},t.longitude,t.latitude) distance
                FROM t_yth_branch t
                ORDER BY distance ASC
        -->
        SELECT t.id,t.name,t.address,t.longitude,t.latitude,t.telephone,t.traffic,
        GetDistance(#{longitude}, #{latitude},t.longitude,t.latitude) distance
        FROM t_yth_branch t left join T_YTH_BRANCH_SERVICE p on (t.id = p.branch_id)
        where p.services_code = #{servicesCode}
        ORDER BY distance ASC
    </select>

    <!--查询业务配置信息-->
    <select id="getBusConfigInfo" parameterType="java.lang.String"
            resultType="com.tecsun.sisp.adapter.modules.common.entity.response.BusConfigVO">
        select  * from T_YTH_BUS_CONFIG_INFO t where CONFIG_CODE = #{configCode}
        order by ORDERNUM asc ,CONFIG_ID asc
    </select>

    <!--查询德生宝地址所在经纬度-->
    <select id="getCoord" parameterType="java.lang.String" resultType="java.util.Map">
        select longitude,latitude from T_DEVICE_REGIST  where equipment_no = #{deviceId}
    </select>
	
	<!-- 根据父级区域id获取下级区域信息 -->
    <select id="getAreaList" parameterType="java.util.Map"
    	resultType="com.tecsun.sisp.adapter.modules.common.entity.response.AreaInfoVo">
    	select distinct_id as areaCode ,name as areaName from t_distinct where parent_id=#{areaCode}
    </select>
    
    <!-- 根据区域id获取本级区域信息 -->
    <select id="getAreaInfo" parameterType="java.util.Map"
    	resultType="com.tecsun.sisp.adapter.modules.common.entity.response.AreaInfoVo">
    	select distinct_id as areaCode ,name as areaName from t_distinct where distinct_id=#{areaCode}
    </select>

    <!-- 根据tsb设备编码获取德生宝所在地 -->
    <select id="getIneTsbAreaList" parameterType="java.util.Map" 
    	resultType="com.tecsun.sisp.adapter.modules.ine.entity.response.AreaVo">
    	select distinct_id as areaCode ,name as areaName from t_distinct 
    	where parent_id =substr ((select areacode  from T_YTH_DEVICE t where  equipment_no = #{deviceid}),0,4)
    
    </select>
</mapper>