<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.tecsun.sisp.adapter.modules.card.service.impl.CardGrantServiceImpl">


	<!--保存评价和领卡操作关联 -->
	<insert id="evaluateAndGrant" parameterType="java.util.List">
		BEGIN
		<foreach collection="list" item="item" index="index"
			separator=";">
			insert into
			T_RECEIVE_EVALUATE(ID,SERVICE_NUMBER,CARD_RECEIVE_ID,CREATE_TIME)
			values
			(T_RECEICE_EVALUATE_ID_SEQ.nextVal,#{item.serviceNumber},#{item.cardReceiveId},sysdate)
		</foreach>
		;END ;
	</insert>


	<!--查询网点信息 -->
	<select id="queryNetInfo" parameterType="java.util.Map"
		resultType="com.tecsun.sisp.adapter.modules.card.entity.response.NetInfoVO">
		select * from T_YTH_BRANCH
		where code=#{code}
	</select>

	<!--查询网点信息 -->
	<select id="queryOrgInfo" parameterType="java.util.Map"
		resultType="com.tecsun.sisp.adapter.modules.card.entity.response.NetInfoVO">
		select org_code as code,name as name from T_ORG
		where
		org_code=#{code}
	</select>

	<!--查询机构网点信息 -->
	<select id="selectLogName" parameterType="java.lang.String"
		resultType="java.lang.String">
		<!-- select LOG_NAME from T_USER
		where user_id=#{fkwd} -->
		select o.org_code from T_USER U,T_ORG O where u.org_id = o.org_id and u.user_id=#{fkwd}
	</select>

	<!--在card_agent中获取agentid -->
	<select id="selectAgentidbyIdcard"
		parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.MinorCardGrantBean"
		resultType="java.lang.Integer">
		select agentid from card_agent where idcard=#{subIdcard}
	</select>

	<!--保存未成年人发卡代领人信息,card_agent -->
	<insert id="insertInsteadCardInfo"
		parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.MinorCardGrantBean">
		<selectKey resultType="java.lang.Integer" keyProperty="agentId"
			order="BEFORE">
			select SEQ_CARD_AGENT.NEXTVAL  from dual
		</selectKey>
		insert into card_agent
		(PHOTO,IDCARD_PHOTO_UP,IDCARD_PHOTO_DOWN,SIGN_PHOTO,AGENTID,IDCARD,NAME,PHONE)
		values
		(#{photo},#{idcardPhotoUp},#{idcardPhotoDown},#{signPhoto},#{agentId},#{subIdcard},#{subName},#{subPhone})
	</insert>
	
	<!-- 修改未成年人发卡基本信息,card_info表-->
	<update id="updateCardInfo"
		parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.MinorCardGrantBean">
		update CARD_INFO SET
		<if test="name !=null and name !=''">name=#{name}</if>
		<if test="batchNo !=null and batchNo !=''"> ,BATCH_NO=#{batchNo}</if>
		<if test="companyCode !=null and companyCode !=''">,COMPANY_CODE=#{companyCode}</if>
		<if test="companyName !=null and companyName !=''">,COMPANY_NAME=#{companyName}</if>
		<if test="angent !=null and angent !=''">,ANGENT=#{angent}</if>
		<if test="phone !=null and phone !=''">,PHONE=#{phone}</if>
		<if test="address !=null and address !=''">,ADDRESS=#{address}</if>
		<if test="oldCfwz !=null and oldCfwz !=''">,OLD_CFWZ=#{oldCfwz}</if>
		<if test="status !=null and status !=''">,STATUS=#{status}</if>
		<if test="fkwd !=null and fkwd !=''">,FKWD=#{fkwd}</if>
		<if test="receiveNum !=null and receiveNum !=''">,RECEIVENUM=#{receiveNum}</if>
		<if test="bank !=null and bank !=''">,BANK=#{bank}</if>
		<if test="bankAcount !=null and bankAcount !=''">,BANKACOUNT=#{bankAcount}</if>
		<if test="reginalCode !=null and reginalCode !=''">,REGINALCODE=#{reginalCode}</if>
		<if test="inputTime !=null and inputTime !=''">,INPUT_TIME=#{inputTime}</if>
		<if test="retentionTime !=null and retentionTime !=''">,RETENTION_TIME=#{retentionTime}</if>
		<if test="retentionUser !=null and retentionUser !=''">,RETENTION_USER=#{retentionUser}</if>
		<if test="retentionNum !=null and retentionNum !=''">,RETENTIONNUM=#{retentionNum}</if>
		<if test="xtZxwz !=null and xtZxwz !=''">,XT_ZXWZ=#{xtZxwz}</if>
		<if test="syncStatus !=null and syncStatus !=''">,SYNC_STATUS=#{syncStatus}</if>
		,UPDATE_TIME=sysdate
		where CARDID=#{cardid} and IDCARD=#{idcard}
	</update>

	<!--保存未成年人发卡基本信息,card_info表 -->
	<insert id="insertMinorCardBasicInfo"
		parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.MinorCardGrantBean">
		insert into card_info
		(ID,NAME,IDCARD,CARDID,BATCH_NO,COMPANY_CODE,COMPANY_NAME,ANGENT,PHONE,
		ADDRESS,OLD_CFWZ,STATUS,FKWD,RECEIVENUM,BANK,BANKACOUNT,REGINALCODE,INPUT_TIME,
		RETENTION_TIME,RETENTION_USER,RETENTIONNUM,ACTIVETIME,UPDATE_TIME,XT_ZXWZ,SYNC_STATUS)
		values
		(seq_card_info.nextval,#{name},#{idcard},#{cardid},#{batchNo},#{companyCode},#{companyName},
		#{angent},#{phone},#{address},#{oldCfwz},#{status},#{fkwd},#{receiveNum},#{bank},
		#{bankAcount},#{reginalCode},sysdate,sysdate,
		#{retentionUser},DEFAULT,#{activeTime},#{updateTime},#{oldCfwz},#{syncStatus})
	</insert>
	<!-- 修改未成年人发卡卡状态 -->
	<update id="updateCardStatus" parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.MinorCardGrantBean">
        update card_info i set i.status=#{status}
        <if test="activeTime !=null and activeTime != ''">
			,i.activetime=sysdate
		</if>
		where i.cardid=#{cardid}
    </update>

	<!--保存未成年人发卡信息，card_receive表 -->
	<insert id="insertCardReceiveInfo"
		parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.MinorCardGrantBean">
		<selectKey resultType="java.lang.Integer" keyProperty="ciid"
			order="BEFORE">
			select id as ciid from card_info where idcard=#{idcard}
		</selectKey>
		insert into
		card_receive(ID,CIID,TYPE,RECEIVE_TIME,PHOTO,IDCARD_PHOTO_UP,IDCARD_PHOTO_DOWN,SIGN_PHOTO,AGENTID,DOMICILIARY_REGISTER_PHOTO)
		values
		(SEQ_CARD_RECEIVE.NEXTVAL,#{ciid},#{personType},sysdate,#{photo},#{idcardPhotoUp},#{idcardPhotoDown},#{signPhoto},#{agentId},#{domiciliaryRegisterPhoto})
	</insert>
	
	<!--在根据card_info获取id -->
	<select id="getCardInfoId" parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.MinorCardGrantBean"
		resultType="java.lang.Integer">
		select ID from card_info where
		cardid=#{cardid} and idcard=#{idcard}
	</select>

	<!--在根据tempcard_no获取id -->
	<select id="getDetailId" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select ID from TEMPCARD_DETAIL where
		TEMPCARD_NO=#{tempCardNo}
	</select>
	<!-- 修改TEMPCARD_DETAIL数据 -->
	<update id="updateDetail"
		parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.TempCardBean">
		update TEMPCARD_DETAIL SET
		<if test="rkwd !=null and rkwd !=''">rkwd=#{rkwd}</if>
		<if test="atr !=null and atr !=''">,atr=#{atr}</if>
		<if test="detailstatus !=null and detailstatus !=''">,status=#{detailstatus}</if>
		<if test="wasteTime !=null and wasteTime !=''">,waste_time=#{wasteTime}</if>
		<if test="wastePosition !=null and wastePosition !=''">,waste_position=#{wastePosition}</if>
		<if test="cancelTime !=null and cancelTime !=''">,cancel_time=#{cancelTime}</if>
		<if test="recoveryTime !=null and recoveryTime !=''">,recovery_time=#{recoveryTime}</if>
		<if test="detailCreateTime !=null and detailCreateTime !=''">,create_time=sysdate</if>
		,update_time=sysdate
		where tempcard_no=#{tempCardNo}
	</update>

	<!--保存临时卡数据到TEMPCARD_DETAIL -->
	<insert id="insertTempCardToDetail"
		parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.TempCardBean">
		insert into TEMPCARD_DETAIL
		(ID,TEMPCARD_NO,ATR,RKWD,STATUS,WASTE_TIME,WASTE_POSITION,CANCEL_TIME,RECOVERY_TIME,CREATE_TIME,UPDATE_TIME)
		values
		(seq_tempcard_detail.nextval,#{tempCardNo},#{atr},#{rkwd},#{detailstatus},#{wasteTime},#{wastePosition},#{cancelTime},#{recoveryTime},sysdate,#{detailUpdateTime})
	</insert>

	<!--保存临时卡数据到TEMPCARD_PERSON_INFO -->
	<insert id="inserTempCardToPersonInfo"
		parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.TempCardBean">
		<selectKey resultType="java.lang.Integer" keyProperty="tempCardDetailId"
			order="BEFORE">
			select id as tempCardDetailId from TEMPCARD_DETAIL where
			TEMPCARD_NO=#{tempCardNo}
		</selectKey>
		insert into TEMPCARD_PERSON_INFO
		(ID,TEMPCARD_DETAIL_ID,NAME,IDCARD,CARDID,AGENT_IDCARD,AGENT_NAME,FKRQ,KYXQ,AZ01LID,AZ01ID,AZ02ID,
		STATUS,GRANT_TIME,CREATE_TIME,UPDATE_TIME,PHOTO,IDCARD_PHOTO_UP,IDCARD_PHOTO_DOWN,SIGN_PHOTO)
		values(seq_tempcard_person_info.nextval,#{tempCardDetailId},#{name},#{idcard},#{cardid},#{agentIdcard},#{agentName},#{fkrq},
		#{kyxq},#{az01lid},#{az01id},#{az02id},#{peopleInfoStatus},sysdate,sysdate,#{peopleInfoUpdateTime},#{photo},#{idcardPhotoUp},#{idcardPhotoDown},#{signPhoto})
	</insert>
	
	<!--在根据REPLACECARD_NO获取id -->
	<select id="getPrefabCardId" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select ID from REPLACECARD_DETAIL where
		CARDID=#{cardid}
	</select>
	
	<!-- 修改REPLACECARD_DETAIL数据 -->
	<update id="updatePrefabCardId"
		parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.PrefabCardBean">
		update REPLACECARD_DETAIL SET
		<if test="rkwd !=null and rkwd !=''">RKWD=#{rkwd}</if>
		<if test="atr !=null and atr !=''"> ,ATR=#{atr}</if>
		<if test="bank !=null and bank !=''">,BANK=#{bank}</if>
		<if test="replaceCardPersonId !=null and replaceCardPersonId !=''">,REPLACECARD_PERSON_ID=#{replaceCardPersonId}</if>
		<if test="status !=null and status !=''">,STATUS=#{status}</if>
		,FAKA_TIME=sysdate,update_time=sysdate
		where CARDID=#{cardid}
	</update>
	
	<!--保存预制卡数据到REPLACECARD_DETAIL -->
	<insert id="insertPrefabCardId"
		parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.PrefabCardBean">
		insert into REPLACECARD_DETAIL
		(ID,REPLACECARD_PERSON_ID,REPLACECARD_NO,ATR,BANK,RKWD,STATUS,FAKA_TIME,CREATE_TIME,UPDATE_TIME,CARDID)
		values
		(seq_replacecard_detail.nextval,#{replaceCardPersonId},#{cardid},#{atr},#{bank},#{rkwd},#{status},#{fakaTime},sysdate,#{detailUpdateTime},#{cardid})
	</insert>
	
	<!--保存预制卡数据到replacecard_person_info-->
	<insert id="inserPrefabCardToPersonInfo"
		parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.PrefabCardBean">
		<selectKey resultType="java.lang.Integer" keyProperty="replaceCardPersonId"
			order="BEFORE">
			select seq_replacecard_person_info.nextval from dual
		</selectKey>
		insert into replacecard_person_info
		(ID,NAME,IDCARD,MOBILE,REPLACE_TYPE,REPLACE_REASON,CREATE_TIME,UPDATE_TIME,PHOTO_URL,IDCARD_PHOTO_UP,IDCARD_PHOTO_DOWN,SIGN_PHOTO)
		values
		(#{replaceCardPersonId},#{name},#{idcard},#{mobile},#{replaceType},#{replaceReason},sysdate,#{personUpdateTime},#{photoUrl},
		#{idcardPhotoUp},#{idcardPhotoDown},#{signPhoto})
	</insert>
	
	<!-- 在replacecard_person_info获取id 
	<select id="getPersonInfoId" parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.PrefabCardBean"
		resultType="java.lang.Integer">
		select ID from replacecard_person_info where
		name=#{name} and idcard=#{idcard}
	</select> -->
	
	<!-- 修改replacecard_person_info数据 
	<update id="updatePersonInfo"
		parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.PrefabCardBean">
		update replacecard_person_info SET
		<if test="name !=null and name !=''">NAME=#{name}</if>
		<if test="mobile !=null and mobile !=''"> ,MOBILE=#{mobile}</if>
		<if test="replaceType !=null and replaceType !=''">,REPLACE_TYPE=#{replaceType}</if>
		<if test="replaceReason !=null and replaceReason !=''">,REPLACE_REASON=#{replaceReason}</if>
		<if test="photoUrl !=null and photoUrl !=''">,PHOTO_URL=#{photoUrl}</if>
		<if test="idcardPhotoUp !=null and idcardPhotoUp !=''">,IDCARD_PHOTO_UP=#{idcardPhotoUp}</if>
		<if test="idcardPhotoDown !=null and idcardPhotoDown !=''">,IDCARD_PHOTO_DOWN=#{idcardPhotoDown}</if>
		<if test="signPhoto !=null and signPhoto !=''">,SIGN_PHOTO=#{signPhoto}</if>
		,update_time=sysdate
		where name=#{name} and idcard=#{idcard}
	</update> -->
	
	<!-- 修改预制卡卡状态 -->
	<update id="updateReplaceCardStatus" parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.PrefabCardBean">
        update replacecard_detail i set i.status=#{status}
        <if test="detailUpdateTime !=null and detailUpdateTime != ''">
			,i.UPDATE_TIME=sysdate
		</if>
		where i.CARDID=#{cardid}
    </update>
	<!--查询机构网点信息 -->
	<select id="selectOrgId" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		<!-- select LOG_NAME from T_USER
		where user_id=#{fkwd} -->
		select o.org_id from T_USER U,T_ORG O where u.org_id = o.org_id and u.user_id=#{fkwd}
	</select>
	
	<!--判断临时卡是否存在数据 -->
	<select id="selectTempcardId" parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.TempCardBean"
		resultType="java.lang.Integer">
		select ID from TEMPCARD_DETAIL where
		TEMPCARD_NO=#{tempCardNo} and rkwd=#{rkwd} and status in ('00','01','04')
	</select>
	
	
	<!--查询卡数据是否已发放-->
	<select id="selectIsCardReceive" parameterType="com.tecsun.sisp.adapter.modules.card.entity.request.MinorCardGrantBean"
		resultType="com.tecsun.sisp.adapter.modules.card.entity.request.MinorCardGrantBean">
		select name,idcard,cardid from card_info 
		where cardid=#{cardid} and idcard=#{idcard} and name=#{name} and (status='6' or status='7')
	</select>
</mapper>