<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.fakamanagement.modules.service.impl.supervise.SuperviseStatisticsServiceImpl">

    <!--获取分配给用户的统计功能-->
    <select id="getFunctionByUserId" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.supervise.UserFunctionVO"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.supervise.UserFunctionVO">
        select * from user_card_statistics where user_id=#{userId}
        order by sort

    </select>
    <!--清空排序-->
    <update id="updateFuncByUserId" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.supervise.UserFunctionVO">
        update user_card_statistics set sort='' where user_id=#{userId}
    </update>
    <!--修改排序-->
    <!--<update id="updateFuncSortById" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.statistics.UserFunctionVO">
        update user_card_statistics set sort=#{sort} where id=#{id}
    </update>-->
    <update id="updateFuncSortById" parameterType="java.util.List">
        begin
        <foreach collection="list" item="item" index="index" separator=";">
            update user_card_statistics s set s.sort=#{item.sort} where s.id=#{item.id}
        </foreach>;
        end;
    </update>

    <!--今日发卡总量-->
    <select id="getDayFakaCount" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.supervise.DayMontCradCountBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.supervise.DayMontCradCountVO">
        select count(1) as dayFakaCount from card_info i,sisp_public.t_org o
        where i.fkwd=o.org_code and i.status=7 and to_char(i.activetime,'yyyy-mm-dd')=to_char(sysdate,'yyyy-mm-dd')
        <if test="reginalcode !=null and reginalcode != ''">
            and o.distinct_id=#{reginalcode}
        </if>
    </select>
    <!--本月发卡总量-->
    <select id="getMonthFakaCount" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.supervise.DayMontCradCountBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.supervise.DayMontCradCountVO">
        select count(1) as monthFakaCount from card_info i,sisp_public.t_org o
        where i.fkwd=o.org_code and i.status=7 and to_char(i.activetime,'yyyy-mm')=to_char(sysdate,'yyyy-mm')
        <if test="reginalcode !=null and reginalcode != ''">
            and o.distinct_id=#{reginalcode}
        </if>
    </select>


    <!--总卡量统计-->
    <select id="getCardCount" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.supervise.CardStatisticsBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.supervise.CardStatisticsVO">
        select count(1) as cardCount from card_info i,sisp_public.t_org o
        where i.fkwd=o.org_code
        <if test="reginalcode!=null and reginalcode!=''">
            and o.distinct_id=#{reginalcode}
        </if>
        <if test="startTime!=null and startTime!=''">
            and i.input_time &gt;=to_date(#{startTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="endTime!=null and endTime!=''">
            and i.input_time &lt;=to_date(#{endTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
    </select>
    <!--发卡量统计-->
    <select id="getFakaCount" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.supervise.CardStatisticsBean"
    resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.supervise.CardStatisticsVO">
        select count(1) as fakaCount from card_info i,sisp_public.t_org o
        where i.fkwd=o.org_code and i.status=7
        <if test="reginalcode!=null and reginalcode!=''">
            and o.distinct_id=#{reginalcode}
        </if>
        <if test="startTime!=null and startTime!=''">
            and i.activetime &gt;=to_date(#{startTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="endTime!=null and endTime!=''">
            and i.activetime &lt;=to_date(#{endTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
    </select>

    <!--各银行总卡量-->
    <select id="getBankCardCount" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.supervise.CardStatisticsBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.supervise.CardStatisticsVO">
        select count(1) as cardCount,i.bank from CARD_INFO i,sisp_public.t_org o
        where i.fkwd=o.org_code
        <if test="reginalcode!=null and reginalcode!=''">
            and o.distinct_id=#{reginalcode}
        </if>
        <if test="bank!=null and bank!=''">
            and i.bank=#{bank}
        </if>
        <if test="startTime!=null and startTime!=''">
            and i.input_time &gt;=to_date(#{startTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="endTime!=null and endTime!=''">
            and i.input_time &lt;=to_date(#{endTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        group by i.bank
    </select>
    <!--各银行发卡量统计-->
    <select id="getCardCountByBank" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.supervise.CardStatisticsBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.supervise.CardStatisticsVO">
        select count(1) as fakaCount from CARD_INFO i,sisp_public.t_org o
        where i.fkwd=o.org_code and i.status=7
        <if test="reginalcode!=null and reginalcode!=''">
            and o.distinct_id=#{reginalcode}
        </if>
        <if test="bank!=null and bank!=''">
            and i.bank=#{bank}
        </if>
        <if test="startTime!=null and startTime!=''">
            and i.input_time &gt;=to_date(#{startTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="endTime!=null and endTime!=''">
            and i.input_time &lt;=to_date(#{endTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
    </select>

    <!--全市每年医保结算刷卡量统计-->
    <select id="getTempSettleCountByYear" resultType="com.tecsun.sisp.fakamanagement.modules.entity.param.supervise.SettleStatisticsBean">
        select sum(count) as count,REGEXP_SUBSTR(time,'[^-]+',1,1,'i') as time
        from ybjs_time_temp
        group by REGEXP_SUBSTR(time,'[^-]+',1,1,'i')
        order by REGEXP_SUBSTR(time,'[^-]+',1,1,'i') asc
    </select>

    <!--滞留卡统计-按年-->
    <select id="getRetentionCountByYear" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.supervise.CardStatisticsBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.supervise.CardStatisticsVO">
        select count(1) as cardCount,to_char(i.input_time,'yyyy') as time
        from card_info i,sisp_public.t_org o
        where i.fkwd=o.org_code and i.status!=7 and i.input_time &lt; sysdate-90
        <if test="reginalcode!=null and reginalcode!=''">
            and o.distinct_id=#{reginalcode}
        </if>
        group by to_char(i.input_time,'yyyy')
    </select>

    <!--滞留卡总量-->
    <select id="getRetentionCount" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.supervise.CardStatisticsBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.supervise.CardStatisticsVO">
        select count(1) as cardCount
        from card_info i,sisp_public.t_org o
        where i.fkwd=o.org_code and i.status!=7 and i.input_time &lt; sysdate-90
        <if test="reginalcode!=null and reginalcode!=''">
            and o.distinct_id=#{reginalcode}
        </if>
    </select>

    <!--滞留卡发卡总量-->
    <select id="getRetentionFakaCount" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.supervise.CardStatisticsBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.supervise.CardStatisticsVO">
        select count(1) as fakaCount
        from card_info i,sisp_public.t_org o
        where i.fkwd=o.org_code and i.status=7 and i.activetime - i.input_time &gt; 90
        <if test="reginalcode!=null and reginalcode!=''">
            and o.distinct_id=#{reginalcode}
        </if>
    </select>

    <!--查询渠道关注量-->
    <select id="getChannelAttentionCount" resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.supervise.ChannelAttentionVO">
        select channel_type,channel_name,count
        from channel_attention
    </select>

    <!--每年参保总量统计-->
    <select id="getApplyCountByYear" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.statistics.CardStatisticsBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.statistics.CardStatisticsVO">
        select count(1) as cardCount,to_char(i.input_time,'yyyy') as year
        from card_info i,sisp_public.t_org o
        where i.fkwd=o.org_code
        <if test="reginalcode!=null and reginalcode!=''">
            and o.distinct_id=#{reginalcode}
        </if>
        group by to_char(i.input_time,'yyyy')
    </select>



    <!--全市卡量统计-->
    <!--<select id="getCardCountByCity" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.statistics.CardStatisticsBean"
    resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.statistics.CardStatisticsVO">
        select count(1) as fakaCount from card_info where status=7
        <if test="reginalcode!=null and reginalcode!=''">
            and reginalcode=#{reginalcode}
        </if>
        <if test="startTime!=null and startTime!=''">
            and input_time &gt;=to_date(#{startTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="endTime!=null and endTime!=''">
            and input_time &lt;=to_date(#{endTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
    </select>-->


    <!--全市每年发卡量统计-->
    <select id="getCardCountByYear" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.statistics.CardStatisticsBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.statistics.CardStatisticsVO">
        select count(1) as fakaCount,to_char(i.input_time,'yyyy') as year
        from CARD_INFO i,sisp_public.t_org o
        where i.fkwd=o.org_code and i.status=7
        <if test="reginalcode!=null and reginalcode!=''">
            and o.distinct_id=#{reginalcode}
        </if>
        <if test="bank!=null and bank!=''">
            and i.bank=#{bank}
        </if>
        <if test="startTime!=null and startTime!=''">
            and i.input_time &gt;=to_date(#{startTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="endTime!=null and endTime!=''">
            and i.input_time &lt;=to_date(#{endTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        group by to_char(i.input_time,'yyyy')
    </select>

    <!--各区县总卡量-->
    <select id="getDistrictCardCount" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.statistics.CardStatisticsBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.statistics.CardStatisticsVO">
        select count(1) as cardCount,o.distinct_id
        from CARD_INFO i,sisp_public.t_org o
        where i.fkwd=o.org_code
        <if test="reginalcode!=null and reginalcode!=''">
            and o.distinct_id=#{reginalcode}
        </if>
        <if test="bank!=null and bank!=''">
            and i.bank=#{bank}
        </if>
        <if test="startTime!=null and startTime!=''">
            and i.input_time &gt;=to_date(#{startTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="endTime!=null and endTime!=''">
            and i.input_time &lt;=to_date(#{endTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        group by o.distinct_id
    </select>
    <!--各区县发卡量统计-->
    <select id="getCardCountByDistrict" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.statistics.CardStatisticsBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.statistics.CardStatisticsVO">
        select count(1) as fakaCount
        from CARD_INFO i,sisp_public.t_org o
        where i.fkwd=o.org_code and i.status=7
        <if test="reginalcode!=null and reginalcode!=''">
            and o.distinct_id=#{reginalcode}
        </if>
        <if test="bank!=null and bank!=''">
            and i.bank=#{bank}
        </if>
        <if test="startTime!=null and startTime!=''">
            and i.input_time &gt;=to_date(#{startTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="endTime!=null and endTime!=''">
            and i.input_time &lt;=to_date(#{endTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
    </select>

    <!--插入医保结算统计信息by时间-->
    <insert id="insertYbjsInfoByTime" parameterType="java.util.List">
        begin
        <foreach collection="list" item="item" index="index" separator=";">
            insert into ybjs_time_temp (id,count,time,add_time)
            values (seq_ybjs_time_temp.nextval,#{item.count},#{item.time},sysdate)
        </foreach>;
        end;
    </insert>
    <!--删除医保结算时间统计信息-->
    <delete id="deleteYbjsTimeTemp">
        delete from ybjs_time_temp
    </delete>

    <!--插入医保结算统计信息by区域-->
    <insert id="insertYbjsInfoByDistrict" parameterType="java.util.List">
        begin
        <foreach collection="list" item="item" index="index" separator=";">
            insert into ybjs_district_temp (id,count,district,add_time)
            values (seq_ybjs_district_temp.nextval,#{item.count},#{item.district},sysdate)
        </foreach>;
        end;
    </insert>
    <!--删除医保结算区域统计信息-->
    <delete id="deleteYbjsDistrictTemp">
        delete from ybjs_district_temp
    </delete>

    <!--全市医保结算刷卡量统计-->
    <select id="getTempSettleCountByMonth" resultType="com.tecsun.sisp.fakamanagement.modules.entity.param.statistics.SettleStatisticsBean">

        select t.count,t.time from
        (select count,time from ybjs_time_temp
        order by time desc) t
        where rownum &lt; 13
        order by time asc

    </select>

    <!--各区县医保结算刷卡量统计-->
    <select id="getTempSettleCountByDistrict" resultType="com.tecsun.sisp.fakamanagement.modules.entity.param.statistics.SettleStatisticsBean">

        select count,district from ybjs_district_temp where district !=' '

    </select>

    
</mapper>