<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.fakamanagement.modules.service.impl.loginuser.LoginUserServiceImpl">

    <!--通过用户ID查询发卡网点-->
    <select id="getFkwd" parameterType="java.lang.String" resultType="java.lang.String">
    	select o.org_code from T_USER t,t_org o where o.org_id=t.org_id and t.user_id=#{userid}
    </select>
    <!--通过用户ID查询入库网点-->
    <select id="getRkwd" parameterType="java.lang.Integer" resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.statistics.ORGVO">
        select o.org_code  as orgCode,o.org_id as orgId,o.name as orgName,o.distinct_id as distinctId,parent_org_id as parentId
        from T_USER t,t_org o where o.org_id=t.org_id and t.user_id=#{userid}
    </select>
    <!--通过org_id查询发卡网点-->
    <select id="getFkwdById" parameterType="java.lang.Integer"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.DistinctAndBankVO">
        select o.org_id id,o.org_code code,name from t_org o where o.org_id=#{orgId}
    </select>
    <select id="getName" parameterType="java.lang.String" resultType="java.lang.String">
    	select t.name from T_USER  t where t.user_id=#{userid}
    </select>
    <!--通过发卡网点查询区域编码-->
    <select id="getReginalCode" parameterType="java.lang.String" resultType="java.lang.String">
    	select d.code from t_org o,t_distinct d where d.distinct_id=o.distinct_id and o.org_code=#{fkwd}
    </select>
    <select id="queryAllFkwd" parameterType="java.lang.String" resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.statistics.ORGVO">
    	select t.name orgname,t.org_code orgcode,t.org_id orgid from T_ORG t where t.parent_org_id =#{parentid}
    </select>

    <!--通过发卡网点查询银行编码-->
    <select id="getBankCode" parameterType="java.lang.String" resultType="java.lang.String">
        select org_code as bank from t_org
    where org_id=(select parent_org_id from t_org where org_code=#{fkwd})
    </select>

    <!--查询银行信息-->
    <select id="queryBankInfo" resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.DistinctAndBankVO">
        select org_id as id,name,org_code as code from t_org where parent_org_id=0
    </select>

    <!--查询区域信息-->
    <select id="queryDistinctInfo" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.DistinctAndBankVO"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.DistinctAndBankVO">
        select distinct_id as id,name,code from t_distinct where parent_id=#{code}
    </select>

    <!--通过编码查询区域名称-->
    <select id="queryDistinctByCode" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.DistinctAndBankVO"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.DistinctAndBankVO">
        select name from t_distinct where code=#{code}
    </select>

    <!--通过编码查询银行名称-->
    <select id="queryBankByCode" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.DistinctAndBankVO"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.DistinctAndBankVO">
        select name from t_org where org_code=#{code}
    </select>

    <!--通过编码查询渠道名称-->
    <select id="queryChannelByCode" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.DistinctAndBankVO"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.DistinctAndBankVO">
        select name from t_dictionary where code=#{code}
    </select>

    <!--通过编码查询发卡网点名称-->
    <select id="queryFkwdByCode" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.DistinctAndBankVO"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.DistinctAndBankVO">
        select name from t_org where org_code=#{code}
    </select>

    <!--通过区域查询所有下级区域-->
    <select id="queryNextQY" parameterType="String" resultType="String">
        select code from t_distinct start with code = #{code} connect by prior code = parent_id
    </select>
    <!--通过区域查询所有下级区域-->
    <select id="queryAllOrg" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.temporaryCard.CardCountBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.temporaryCard.CardCountVO">
            select org_id as id,name as orgName,org_code as orgCode from t_org a where a.parent_org_id not in (0,1)
            <if test="branchId!=null and branchId!=''">
                and a.org_id=#{branchId}
            </if>
            <if test="bankId!=null and bankId!=''">
                and a.parent_org_id=#{bankId}
            </if>
            <if test="countryId!=null and countryId!='' and countryId=='220200'">
            and a.distinct_id in (220202,220203,220204,220211)
            </if>
            <if test="countryId!=null and countryId!='' and countryId!='220200'">
                and a.distinct_id=#{countryId}
            </if>

    </select>
    <select id="queryAllBranch" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.statistics.ORGVO"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.statistics.ORGVO">
        select t.name orgname,t.org_code orgcode,t.org_id orgid from T_ORG t where t.parent_org_id =#{parentId}
        <if test="distinctId!=null and distinctId!='' and distinctId!=0 ">
            and t.distinct_id=#{distinctId}
        </if>
    </select>

    <!--查询发行服务登录密码-->
    <select id="getPasswordInfo" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.LoginPassswordVO"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.LoginPassswordVO">
        select t.user_id,t.log_name,t.password as oldPassword from t_user t where t.user_id =#{userid}
    </select>

    <!--修改发行服务登录密码-->
    <update id="updatePassword" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.LoginPassswordVO">
        update t_user t set t.password = #{newPassword}
        where t.user_id =#{userid}
    </update>

    <!--测试环境-->
    <!--查询用户是否为人社角色-->
    <select id="checkRsTypeByUserId" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.LoginPassswordVO"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.LoginPassswordVO">
        select user_id from t_role_user
        where role_id=66 and user_id=#{userid}
    </select>
    <!--查询用户是否为银行角色-->
    <select id="checkYhTypeByUserId" parameterType="java.lang.String"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.LoginPassswordVO">
        select user_id from t_role_user
        where role_id=85 and user_id=#{userid}
    </select>
    <!--查询用户是否为网点角色-->
    <select id="checkWdTypeByUserId" parameterType="java.lang.String"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.LoginPassswordVO">
        select user_id from t_role_user
        where role_id=60 and user_id=#{userid}
    </select>

    <!--正式环境-->
    <!--查询用户是否为人社角色-->
    <!--<select id="checkRsTypeByUserId" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.LoginPassswordVO"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.LoginPassswordVO">
        select user_id from t_role_user
        where role_id=61 and user_id=#{userid}
    </select>
    &lt;!&ndash;查询用户是否为银行角色&ndash;&gt;
    <select id="checkYhTypeByUserId" parameterType="java.lang.String"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.LoginPassswordVO">
        select user_id from t_role_user
        where role_id=80 and user_id=#{userid}
    </select>
    &lt;!&ndash;查询用户是否为网点角色&ndash;&gt;
    <select id="checkWdTypeByUserId" parameterType="java.lang.String"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.common.LoginPassswordVO">
        select user_id from t_role_user
        where role_id=60 and user_id=#{userid}
    </select>-->

</mapper>