<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.adapter.modules.terminal.service.impl.TerminalQueryServiceImpl">
	<!-- 个人基本信息 -->
	<select id="getPersonalInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.PersonalInfoVO">
		SELECT
			个人编号  AS personalNo,
			身份证号  AS idNumber,
			姓名  AS name,
			单位编号  AS companyNo,
			单位名称  AS companyName,
			单位类型  AS companyType,
			账户余额  AS accountBalance,
			社保卡号  AS socialCardNo,
			性别  AS gender,
			民族  AS nation,
			to_char (出生日期, 'yyyymmdd') AS birthDate,
			to_char (参加工作日期, 'yyyymmdd') AS workDate,
			人员状态  AS personnelStatus,
			户口所在地  AS registeredResidenceLocation,
			联系电话  AS contactPhone,
			公务员标志  AS civilServantFlag,
			国企改制标识  AS enterpriseRestructureFlag,
			婚否  AS marriage,
			经费来源  AS sourceOfFunding,
			家庭编号  AS familyNo,
			参保状态  AS insuredStatus,
			统筹区  AS coordinationArea,
			卡序号  AS cardSerialNo
		FROM
			个人基本信息
		WHERE
			身份证号 = #{idCard}
		AND 
			姓名 = #{name}
		<if test="socialCardNo != '' and socialCardNo != null">
		AND 社保卡号 like '%${socialCardNo}%'
		</if>
		
	</select>
	
	
	<!-- 个人缴费信息 -->
	<select id="getPersonalPaymentInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.PersonalPaymentInfoVO">
		SELECT
			单位编号  AS companyNo,
			个人编号  AS personalNo,
			对应结算期  AS correspondingSettlementPeriod,
			款费所属期  AS paymentPeriod,
			险种类型  AS insuranceType,
			款项  AS funds,
			缴费类型  AS paymentType,
			缴费标志  AS paymentFlag,
			人员状态  AS personnelStatus,
			缴费基数  AS basePay,
			缴费金额  AS paymentAmount,
			划账户金额  AS accountAmount,
			to_char (划账日期, 'yyyymmdd') AS debitDate
		FROM
			个人缴费信息
		WHERE
			个人编号 = #{personalNo}
		ORDER BY 对应结算期  DESC
	</select>
	
	
	<!-- 居民缴费信息 -->
	<select id="getResidentPaymentInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.ResidentPaymentInfoVO">
		SELECT
			家庭编号  AS familyNo,
			个人编号  AS personalNo,
			款费所属期  AS paymentPeriod,
			险种类型  AS insuranceType,
			款项  AS funds,
			缴费类型  AS paymentType,
			缴费标志  AS paymentFlag,
			人员类型  AS personnelType,
			应缴日期  AS dueDate,
			实缴费日期  AS paymentDate,
			缴费金额  AS paymentAmount
		FROM
			居民缴费信息
		WHERE
			个人编号 = #{personalNo}
		ORDER BY 实缴费日期   DESC
	</select>
	
	
	<!-- 个人账户信息 -->	
	<select id="getPersonalAccountInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.PersonalAccountInfoVO">
		SELECT
			个人编号  AS personalNo,
			年度  AS year,
			上年结转  AS carryOverLastYear,
			本期注入  AS currentInjection,
			账户余额  AS accountBalance,
			住院次数  AS numberOfHospitalization,
			医疗费总额  AS totalMeidcalFee,
			个人账户支付  AS personalAccountPayment,
			个人现金支付  AS personalCashPayment,
			医疗统筹支付  AS medicalCoordinationPayment,
			门诊慢性病统筹支付  AS outpatientChronicPayment,
			普通门诊统筹支付  AS generalOutpatientPayment,
			公务员门诊统筹支付  AS civilServantOutpatientPayment,
			公务员住院统筹支付  AS civilServantHospitalPayment,
			照顾费统筹支付  AS careExpenses,
			工伤统筹支付  AS workInjuryOverallPayment,
			生育统筹支付  AS fertilityCoordinationPayment,
			居民目录内累计  AS accumulatedResidentDirectory,
			学生目录内累计  AS accumulatedStudentDirectory,
			在院状态  AS stateOfHospital
		FROM
			个人账户信息
		WHERE
			个人编号 = #{personalNo}
	</select>
	
	
	<!-- 个人封锁信息 -->
	<select id="getPersonalBlockadeInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.PersonalBlockadeInfoVO">
		SELECT
			个人编号  AS personalNo,
			险种  AS insuranceType,
			封锁原因  AS blockadeReason,
			封锁标志  AS blockadeFlag,
			医保卡号  AS medicalInsuranceCardNo,
			to_char (开始时间, 'yyyymmdd') AS startTime,
			to_char (终止时间, 'yyyymmdd') AS endTime,
			经办日期  AS operationDate,
			统筹区  AS coordinationArea
		FROM
			个人封锁信息
		WHERE
			个人编号 = #{personalNo}
		ORDER BY 经办日期 ASC
	</select>
	
	
	<!-- 个人参保信息 -->
	<select id="getPersonalInsuranceInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.PersonalInsuranceInfoVO">
		<!-- SELECT
			个人编号  AS personalNo,
			单位编号  AS companyNo,
			险种  AS insuranceType,
			参保状态  AS insuredStatus,
			开始年月  AS startDate,
			终止年月  AS endDate,
			经办日期  AS operationDate
		FROM
			个人参保信息
		WHERE
			个人编号 = #{personalNo}
		ORDER BY 经办日期  ASC -->
		
		SELECT 个人编号  AS personalNo,单位编号  AS companyNo, 险种  AS insuranceType,参保状态  AS insuredStatus,
                        开始年月  AS startDate, 终止年月  AS endDate,经办日期  AS operationDate,
       (CASE WHEN 险种='城镇居民医疗保险' THEN  (SELECT count(*) FROM 居民缴费信息  WHERE 个人编号=#{personalNo} and 险种类型='城镇居民医疗保险') 
       ELSE (SELECT count(*) FROM 个人缴费信息  WHERE 个人编号=#{personalNo} and 险种类型=险种) END) AS monthOrYear
       FROM 个人参保信息  WHERE 个人编号 = #{personalNo} ORDER BY 经办日期  DESC
	</select>
	
	
	<!-- 个人医疗费用列表 -->
	<select id="getPersonalMedicalFeeOverview" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.PersonalMedicalSettlementInfoVO">
		SELECT
			个人编号  AS personalNo,
			结算日期  AS settlementDate,
			服务机构名称  AS serviceOrganizationName,
			医疗类别  AS medicalCategory,
			费用总额  AS totalFee,
			账户支付  AS acccountPayment,
			统筹支付  AS coordinationPayment,
			现金支付  AS cashPayment,
			公务员补助  AS civilServiceSubsidy,
			保健对象支付  AS healthCareRecipient,
			离休统筹支付  AS retirementPayment,
			定点医疗机构负担  AS fixedMedicalInstitutionBurden,
			服务机构代码  AS serviceOrganizationNo,
			住院号  AS hospitalNo,
			单据号  AS documentNo
		FROM
			个人医疗结算信息
		WHERE
			个人编号 = #{personalNo}
		ORDER BY 结算日期  DESC
	</select>
		
	
	<!-- 个人医疗费用明细 -->
	<select id="getPersonalMeidcalFeeDetail" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.PersonalMedicalFeeInfoVO">
		SELECT
			个人编号  AS personalNo,
			结算日期  AS settlementDate,
			项目等级  AS projectLevel,
			收费类别  AS chargeCategory,
			医院项目编码  AS hopitalProjectNo,
			医院项目名称  AS hospitalProjectName,
			剂型  AS formulation,
			处方日期  AS prescriptionDate,
			单价  AS unitPricae,
			数量  AS quantity,
			金额  AS amount,
			医保项目编码  AS medicalInsuranceProjectNo,
			医保项目名称  AS medicalInsuranceProjectName,
			服务机构代码  AS serviceOrganizationNo,
			住院号  AS hospitalNo,
			单据号  AS documentNo
		FROM
			个人医疗费用信息
		WHERE
			单据号 = #{documentNo}
	</select>
	
	
	<!-- 药品目录 -->
	<select id="getDrugCatalogInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.DrugCatalogQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.DrugCatalogInfoVO">
		SELECT
			药品编码  AS drugNo,
			中文名称  AS drugChineseName,
			英文名称  AS drugEnglishName,
			收费类别  AS chargeCategory,
			收费等级  AS chargeLevel,
			拼音码  AS pinYinCode,
			剂型  AS formulation,
			规格  AS specification
		FROM
			药品目录信息
		WHERE  1=1
		<if test="drugNo != null and drugNo != ''">
			AND 药品编码  LIKE '%'||#{drugNo}||'%'
		</if>
		<if test="drugPinYinCode != null and drugPinYinCode != ''">
			AND 拼音码   LIKE '%'||#{drugPinYinCode}||'%'
		</if>
		<if test="drugChineseName != null and drugChineseName != ''">
			AND 中文名称  LIKE '%'||#{drugChineseName}||'%'
		</if>
	</select>
	
	
	<!-- 诊疗项目 -->
	<select id="getMedicalTreatmentProjectInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalTreatmentQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.MedicalTreatmentProjectVO">
		SELECT
			项目编码  AS projectNo,
			项目名称  AS projectName,
			收费类别  AS chargeCategory,
			收费等级  AS chargeLevel,
			支付类别  AS paymentCategory,
			拼音码  AS pinYinCode,
			最高限价  AS maximumPrice,
			单位  AS unit
		FROM
			诊疗项目信息
		WHERE  1=1
		<if test="projectNo != null and projectNo != ''">
			AND 项目编码  LIKE '%'||#{projectNo}||'%'
		</if>
		<if test="pinYinCode != null and pinYinCode != ''">
			AND 拼音码   LIKE '%'||#{pinYinCode}||'%'
		</if>
		<if test="projectChineseName != null and projectChineseName != ''">
			AND 项目名称  LIKE '%'||#{projectChineseName}||'%'
		</if>
	</select>
	
	
	<!-- 查询所有省份 -->
	<select id="getAllProvinceInfo" resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.OffsiteMedicalInstitutionVO">
		SELECT DISTINCT 所属省级行政区名称  AS provinceName FROM 异地定点信息
	</select>
	
	
	<!-- 查询省份下面的市 -->
	<select id="getCityInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInstitutionQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.OffsiteMedicalInstitutionVO">
		SELECT DISTINCT 所属地区行政区名称  AS regionName FROM 异地定点信息  WHERE 所属省级行政区名称  LIKE '%'||#{provinceName}||'%'
	</select>
	
	
	<!-- 定点医疗机构（省内） -->
	<select id="getLocalMedicalInstitutionInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInstitutionQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.LocalMedicalInstitutionVO">
		SELECT
			统筹区号  AS coordinationAreaNo,
			机构编号  AS institutionNo,
			机构名称  AS institutionName,
			机构等级  AS institutionLevel,
			机构类型  AS institutionType,
			联系电话  AS contactPhone,
			通讯地址  AS address
		FROM
			定点医疗机构信息
		WHERE
			1 = 1
		<if test="medicalInstitutionNo != null and medicalInstitutionNo != ''">
			AND  机构编号   LIKE '%'||#{medicalInstitutionNo}||'%'
		</if>
		<if test="medicalInstitutionName !=null and medicalInstitutionName !=''">
			AND  机构名称   LIKE '%'||#{medicalInstitutionName}||'%'
		</if>
	</select>
	
	
	<!-- 定点医疗机构（省外） -->
	<select id="getOffsiteMedicalInstitutionInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInstitutionQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.OffsiteMedicalInstitutionVO">
		SELECT
			所属省级行政区编码  AS provinceNo,
			所属省级行政区名称  AS provinceName,
			所属地区行政区编码  AS regionNo,
			所属地区行政区名称  AS regionName,
			国家定点编码  AS nationalFixedPointNo,
			定点名称  AS fixedPointName,
			医疗机构等级  AS medicalLevel
		FROM
			异地定点信息
		WHERE
			1 = 1
		<if test="regionName != null and regionName != ''">
			AND 所属地区行政区名称  = #{regionName}
		</if>
		<if test="provinceName != null and provinceName != ''">
			AND 所属省级行政区名称  = #{provinceName}
		</if>
		<if test="medicalInstitutionName !=null and medicalInstitutionName !=''">
			AND  定点名称   LIKE '%'||#{medicalInstitutionName}||'%'
		</if>
	</select>
	
	
	<!-- 工伤医疗结算 -->
	<select id="getOccupationalInjuryMedicalSettlementInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.OccupationalInjuryMedicalSettlementVO">
		SELECT
			个人编号  AS personalNo,
			人员类别  AS personnelCategory,
			定点机构名称  AS fixedInstitutionName,
			医疗类别  AS meidcalCategory,
			结算日期  AS settlementDate,
			医疗费总额  AS totalMedicalFee,
			账户支付  AS accoountPayment,
			现金支付  AS cashPayment,
			工伤统筹支付  AS workInjuryOverallPayment
		FROM
			工伤医疗结算信息
		WHERE
			个人编号 = #{personalNo}
		ORDER BY 结算日期   DESC
	</select>
	
	
	<!-- 生育医疗结算 -->
	<select id="getMaternityMedicalSettlementInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.MaternityMedicalSettlementVO">
		SELECT
			个人编号  AS personalNo,
			人员类别  AS personnelCategory,
			定点机构名称  AS fixedInstitutionName,
			医疗类别  AS meidcalCategory,
			结算日期  AS settlementDate,
			医疗费总额  AS totalMedicalFee,
			账户支付  AS accoountPayment,
			现金支付  AS cashPayment,
			生育统筹支付  AS maternityCoordinationPayment
		FROM
			生育医疗结算信息
		WHERE
			个人编号 = #{personalNo}
		ORDER BY 结算日期   DESC
	</select>
	
	
	<!-- 大病慢病审批 -->
	<select id="getMajorIllnessApprovalInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.MajorIllnessApprovalVO">
		SELECT
			个人编号  AS personalNo,
			审批类别  AS approvalCategory,
			审批疾病名称  AS approvalDiseaseName,
			开始时间  AS startTime,
			审批定点医院  AS approvalDesignatedHospital,
			审批标志  AS approvalFlag
		FROM
			大病慢病审批信息
		WHERE
			个人编号 = #{personalNo}
		ORDER BY 开始时间   DESC
	</select>
	
	
	<!-- 异地审批 -->
	<select id="getRemoteApprovalInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.RemoteApprovalInfoVO">
		SELECT
			个人编号  AS personalNo,
			审批类别  AS approvalCategory,
			异地城市  AS offSiteCity,
			异地定点1 AS offSiteFixedPoint1,
			异地定点2 AS offSiteFixedPoint2,
			异地定点3 AS offSiteFixedPoint3,
			开始时间  AS startTime,
			审批标志  AS approvalFlag
		FROM
			异地审批信息
		WHERE
			个人编号 = #{personalNo}
		ORDER BY 开始时间   DESC
	</select>
	
	
	<!-- 转外审批 -->
	<select id="getTransferApprovalInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.TransferApprovalInfoVO">
		SELECT
			个人编号  AS personalNo,
			审批类别  AS approvalCategory,
			审批疾病名称  AS approvalDiseaseName,
			开始时间  AS startTime,
			审批定点医院 AS approvalDesignatedHospital,
			转外定点医院 AS transferDesignatedHospital,
			审批标志  AS approvalFlag
		FROM
			转外审批信息
		WHERE
			个人编号 = #{personalNo}
		ORDER BY 开始时间   DESC
	</select>
	
	
	<!-- 单位基本信息 -->
	<select id="getCompanyInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.CompanyInfoVo">
		SELECT 
		   	单位编号 companyNo,
		   	单位名称 companyName,
		   	单位地址 companyAddress,
		   	单位类型 companyType,
		   	医疗缴费类型 medicalPaymentType,
		   	工伤风险类型 industrialInjuryType,
		   	生育缴费类型 birthPaymentType,
		   	财政划拨标志 financialTransferMark,
		   	单位状态 companyStatus,
		   	单位管理方式 unitManagementMode,
		   	统筹区 overallPlanningArea,
		   	缴费银行基本账号 paymentbankAccount,
		   	支付银行基本账号 payBankAccount,
		   	在职参保人数 onTheJobNum,
		   	退休参保人数 retireNum
		FROM 
			单位基本信息 
		WHERE 
			单位编号=#{companyNo}  
	</select>
	
	
	<!-- 单位参保信息 -->
	<select id="getCompanyInsuranceInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
	 		resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.CompanyInsuranceInfoVo">
		SELECT 
		   	单位编号 companyNo,
		   	险种类型 insuranceType,
		   	to_char(参保日期,'yyyy-MM-dd') insuredDate,
		   	参保状态 insuredStatus,
		   	to_char(经办日期,'yyyy-MM-dd') handleDate,
		   	统筹区 overallPlanningArea
		FROM 
			单位参保信息
		WHERE 
			单位编号 = #{companyNo}
		ORDER BY 参保日期 DESC
	</select>	
	
	
	<!--  单位人员信息-->
	<select id="queryUnitPersons" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean" 
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.UnitPersonsVo">
		SELECT 
			个人编号 personalNo,
			单位编号 companyNo,
			公民身份号码 idCard,
			姓名 name,
			社保卡号 socialCardNo,
			账户余额 accountBalance,
			性别 sex,
			民族 nation,
			to_char(出生日期,'yyyy-MM-dd') birthday,
			to_char(参加工作日期,'yyyy-MM-dd') workDate,
			人员状态 personStatus,
			户口所在地 residenceAddress,
			参保状态 insuredStatus,
			统筹区 overallPlanningArea
		FROM  
			单位人员信息 
		WHERE 
			单位编号 = #{companyNo}
	    ORDER BY 参加工作日期 DESC                            
	</select>
	
	
	<!-- 单位缴费信息 -->
	<select id="getCompanyPaymentInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean" 
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.CompanyPaymentInfoVo">
		SELECT
		   	单位编号 companyNo,
		   	单位名称 companyName,
		   	结算期 balanceDate,	
		   	款费所属期 costDate,
		   	险种类型 insuranceType,
		   	人员状态 personStatus,
		   	款项 fund,
		   	基金来源 sourceOfFund,
		   	缴费类型 paymentType,
		   	缴费基数 paymentBase,
		   	缴费金额 payMoney,
		   	实缴金额 actualMoney,
		   	缴费人数 payNumber,
		   	到账标志 accountMark,
		    to_char(经办日期,'yyyy-MM-dd') operationDate
		FROM  
			单位缴费信息 
		WHERE 
			单位编号 = #{companyNo}
    	ORDER BY 经办日期 DESC  
	</select>
	
	
	<!-- 单位封锁信息 -->
	<select id="getCompanyBlockadeInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.CompanyBlockadeInfoVo">
		SELECT
			单位编号 companyNo,
			险种 insuranceType,
			封锁原因 blockadeReason,
			封锁标志 blockadeFlag,
			封锁类别 blockType,
			to_char(开始时间,'yyyy-MM-dd') startTime,
			to_char(终止时间,'yyyy-MM-dd') endTime,
			to_char(经办日期,'yyyy-MM-dd') operationDate,
			统筹区 coordinationArea
		FROM 
			单位封锁信息
		WHERE 
			单位编号 = #{companyNo}
		ORDER BY 经办日期 DESC  
	</select>
		
	
	<!--  工伤定点医院-->
	<select id="getOccupationalInjuryHospitalInfo" 
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.MedicalInsuranceQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.OccupationalInjuryHospitalVo">
		SELECT
			个人编号 personalNo,
			审批类别 auditType,
			to_char(开始时间,'yyyy-MM-dd') startTime,
			to_char(终止时间,'yyyy-MM-dd') endTime,
			审批定点医院 auditDesignatedHospita,
			审批标志 auditFlag,
			to_char(经办日期,'yyyy-MM-dd') operationDate
		FROM 
			个人工伤定点医院信息
		WHERE 
			个人编号 = #{personalNo}
		ORDER BY 经办日期 DESC  
	</select>
	
	
	<!-- 查询参保人状态，根据参保状态及人员状态去查询参保证明信息 -->
	<select id="getInsuredStatusInfo"
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.InsuredCertificationQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.InsuredStatusInfoVO">
		SELECT
			参保状态  AS insuredStatus
		FROM
			参保证明
		WHERE
			身份证号 = #{idCard}
		AND 
			姓名 = #{name}
		<if test="personnelStatus != null and personnelStatus eq 'staff'">
		AND 人员状态 = '在职'
		</if>
		<if test="personnelStatus != null and personnelStatus eq 'resident'">
		AND 人员状态 = '城镇居民'
		</if>
	</select>
	
	
	<!-- 参保人参保记录列表 -->
	<select id="getInsuredCertificationOverview"
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.InsuredCertificationQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.InsuredCertificationInfoVO">
		SELECT
			姓名  AS name,
			性别  AS gender,
			身份证号  AS idNumber,
			单位名称  AS companyName,
			参保状态  AS insuredStatus,
			人员状态  AS personnelStatus,
			医保编号  AS medicalInsuranceNo,
			医疗人员类别  AS medicalInsuranceType,
			to_char (出生日期, 'yyyymmdd') AS birthDate,
			基本医疗参保时间  AS insuredTimeOfBMI,
			基本医疗缴费开始  AS paymentStartTimeOfBMI,
			基本医疗缴费终止  AS paymentEndTimeOfBMI,
			基本医疗缴费月数  AS paymentMonthOfBMI,
			基本医疗是否享受待遇  AS treatmentFlagOfBMI,
			生育参保时间  AS insuredTimeOfMI,
			生育缴费开始  AS paymentStartTimeOfMI,
			生育缴费终止  AS paymentEndTimeOfMI,
			生育缴费月数  AS paymentMonthOfMI,
			生育是否享受待遇  AS treatmentFlagOfMI,
			工伤参保时间  AS insuredTimeOfEII,
			工伤缴费开始  AS paymentStartTimeOfEII,
			工伤缴费终止  AS paymentEndTimeOfEII,
			工伤缴费月数  AS paymentMonthOfEII,
			工伤是否享受待遇  AS treatmentFlagOfEII,
			大病参保时间  AS insuredTimeOfLMI,
			大病缴费开始  AS paymentStartTimeOfLMI,
			大病缴费终止  AS paymentEndTimeOfLMI,
			大病缴费月数  AS paymentMonthOfLMI,
			大病是否享受待遇  AS treatmentFlagOfLMI,
			居民医疗参保时间  AS insuredTimeOfRMI,
			居民医疗缴费开始  AS paymentStartTimeOfRMI,
			居民医疗缴费终止  AS paymentEndTimeOfRMI,
			居民医疗缴费月数  AS paymentMonthOfRMI,
			居民医疗是否享受待遇  AS treatmentFlagOfRMI
		FROM
			参保证明
		WHERE
			身份证号 = #{idCard}
		<if test="personnelStatus != null and personnelStatus eq 'staff'">
		AND 人员状态 = '在职'
		</if>
		<if test="personnelStatus != null and personnelStatus eq 'resident'">
		AND 人员状态 = '城镇居民'
		</if>
	</select>
	
	
	<!-- 查询参保状态为‘正常参保’信息详情 -->
	<select id="getInsuredCertificationDetail"
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.InsuredCertificationQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.InsuredCertificationInfoVO">
		SELECT
			姓名  AS name,
			性别  AS gender,
			身份证号  AS idNumber,
			单位名称  AS companyName,
			参保状态  AS insuredStatus,
			人员状态  AS personnelStatus,
			医保编号  AS medicalInsuranceNo,
			医疗人员类别  AS medicalInsuranceType,
			to_char (出生日期, 'yyyymmdd') AS birthDate,
			基本医疗参保时间  AS insuredTimeOfBMI,
			基本医疗缴费开始  AS paymentStartTimeOfBMI,
			基本医疗缴费终止  AS paymentEndTimeOfBMI,
			基本医疗缴费月数  AS paymentMonthOfBMI,
			基本医疗是否享受待遇  AS treatmentFlagOfBMI,
			生育参保时间  AS insuredTimeOfMI,
			生育缴费开始  AS paymentStartTimeOfMI,
			生育缴费终止  AS paymentEndTimeOfMI,
			生育缴费月数  AS paymentMonthOfMI,
			生育是否享受待遇  AS treatmentFlagOfMI,
			工伤参保时间  AS insuredTimeOfEII,
			工伤缴费开始  AS paymentStartTimeOfEII,
			工伤缴费终止  AS paymentEndTimeOfEII,
			工伤缴费月数  AS paymentMonthOfEII,
			工伤是否享受待遇  AS treatmentFlagOfEII,
			大病参保时间  AS insuredTimeOfLMI,
			大病缴费开始  AS paymentStartTimeOfLMI,
			大病缴费终止  AS paymentEndTimeOfLMI,
			大病缴费月数  AS paymentMonthOfLMI,
			大病是否享受待遇  AS treatmentFlagOfLMI,
			居民医疗参保时间  AS insuredTimeOfRMI,
			居民医疗缴费开始  AS paymentStartTimeOfRMI,
			居民医疗缴费终止  AS paymentEndTimeOfRMI,
			居民医疗缴费月数  AS paymentMonthOfRMI,
			居民医疗是否享受待遇  AS treatmentFlagOfRMI
		FROM
			参保证明
		WHERE
			身份证号 = #{idCard}
		AND
			医保编号 = #{medicalInsuranceNo}
		AND
			人员状态 = #{personnelStatus}
		AND
			参保状态 = #{insuredStatus}
	</select>
	
	
	<!-- 查询参保状态为‘未参保’信息详情 -->
	<select id="getUninsuredCertificationDetail"
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.InsuredCertificationQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.UninsuredCertificationInfoVO">
		SELECT
			姓名  AS name,
			身份证号  AS idNumber
		FROM
			参保证明
		WHERE
			身份证号 = #{idCard}
		AND 
			参保状态 = #{insuredStatus}
		AND
			人员状态 = #{personnelStatus}
		AND
			医保编号 = #{medicalInsuranceNo}
	</select>
	
	
	<!-- 查询当前医保编号当月打印参保证明次数 -->
	<select id="getPrintFrequency"
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.InsuredCertificationQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.terminal.entity.response.PrintCertificationFrequencyVO">
		SELECT
			name  AS name,
			id_card  AS idCard,
			medical_insurance_no AS medicalInsuranceNo,
			print_frequency AS printFrequency,
			print_time AS printTime
		FROM
			t_medical_certification
		WHERE
			id_card = #{idCard}
		AND
			substr(print_time, 1, 7) = substr(#{printTime}, 1, 7)
		<if test="medicalInsuranceNo != null and medicalInsuranceNo != ''">
		AND medical_insurance_no = #{medicalInsuranceNo}
		</if>
		
	</select>
	
	
	<!-- 保存打印参保证明次数记录 -->
	<insert id="savePrintFrequency"
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.request.InsuredCertificationQueryBean">
		INSERT INTO t_medical_certification 
					(record_id, id_card, medical_insurance_no, name, print_frequency, print_time) 
			   VALUES 
					(T_MEDICAL_CERTIFICATION_ID_SEQ.nextval, #{idCard}, #{medicalInsuranceNo}, #{name}, #{printFrequency}, #{printTime})
	</insert>
	
	
	<!-- 更新打印参保证明次数记录 -->
	<update id="updatePrintFrequency"
			parameterType="com.tecsun.sisp.adapter.modules.terminal.entity.response.PrintCertificationFrequencyVO">
		UPDATE t_medical_certification t SET
			   t.print_frequency = #{printFrequency}
		WHERE 
			   id_card = #{idCard}
		  AND
			   substr(print_time, 1, 7) = substr(#{printTime}, 1, 7)
		 <if test="medicalInsuranceNo != null and medicalInsuranceNo != ''">
		  AND  medical_insurance_no = #{medicalInsuranceNo}
		 </if>
	</update>
	
</mapper>