<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store">
    <meta http-equiv="expires" content="0">
    <META http-equiv=Content-Type content="text/html; charset=gb2312">

    <SCRIPT src="jquery.js" type=text/javascript></SCRIPT>

    <SCRIPT type=text/javascript>
        /*=================卡登记===============*/
        function register(){
            var url='/iface/cssp/register';
            var data={
                // channelcode:'TSB',
                // deviceid:'T201505110368883',
                name:'王胜波',
                //id:'440101',
                //pagesize:10,
                //pageno:1*//**//**//**//**//*
                certNum:'123460',
                //certNum:'440981198712019566',
                soCardNum:'G10002125',
                reason:'1'
                //certNum:'360502199008205544'
                //certNum:'440981198712019567'
                // certNum:''
            }
            $.ajax({
                type:'post',
                url:url,
                data:JSON.stringify(data),
                contentType:'application/json; charset=UTF-8',
                dataType:'json',
                success:function(result){
                    var transArray =result.data;
                    alert(result.statusCode)
                    alert(result.message);
                    alert(result.data);
                }
            });
        }


        /*=================卡上传===============*/

        function uploadCardPicInfo(){
            var url='/iface/cssp/uploadCardPicInfo';
            var data={
                name:'是',
                certNum:'123460',
                soCardNum:'G10002125',
                agentName:'张',//代领人姓名
                agentcertNum:'422201199832152210',//本人身份证号码
                no:'1', //0:本人 ,1:他人
                //base64String:'F:\\photo\\人.jpg',   //64位的相片
                base64String:'F:\\photo\\人.jpg',
                base64Stringqmz:'F:\\photo\\签名.jpg' //64位的签名
            }
            $.ajax({
                type:'post',
                url:url,
                data:JSON.stringify(data),
                contentType:'application/json; charset=UTF-8',
                dataType:'json',
                success:function(result){
                    var transArray =result.data;
                    alert(result.statusCode)
                    alert(result.message);
                    alert(result.data);
                }
            });
        }


        /*=================卡登录===============*/
        function login(){
            var url='/iface/cssp/login';
            var data={
                loginName:'admin1',
                password:'123456'
            }
            $.ajax({
                type:'post',
                url:url,
                data:JSON.stringify(data),
                contentType:'application/json; charset=UTF-8',
                dataType:'json',
                success:function(result){
                    var transArray =result.data;
                    alert(result.statusCode)
                    alert(result.message);
                    alert(result.data);
                }
            });
        }




        /*=================卡申领资格查询===============*/
        function getApply(){
            var url='/iface/cssp/getApplyCard';
            var data={
                // channelcode:'TSB',
                // deviceid:'T201505110368883',
                //name:'王',
                //id:'440101',
                //pagesize:10,
                //pageno:1*//**//**//**//**//*
                // certNum:'360502199008205560'
                certNum:'360502199008205000558'
                //certNum:'440981198712019566',
                // soCardNum:'1',
                // reason:'1'
                //certNum:'360502199008205544'
                //certNum:'440981198712019567'
                // certNum:''
            }
            $.ajax({
                type:'post',
                url:url,
                data:JSON.stringify(data),
                contentType:'application/json; charset=UTF-8',
                dataType:'json',
                success:function(result){
                    var transArray =result.data;
                    alert(result.statusCode)
                    alert(result.message);
                    alert(result.data);
                }
            });
        }




    </SCRIPT>


</head>
<BODY>
<input type="button" value="登录" onclick="login()"/>
<input type="button" value="卡登记" onclick="register()"/>
<input type="button" value="申领查找" onclick="getApply()"/>
<input type="button" value="图片上传" onclick="uploadCardPicInfo()"/>



</BODY>
</html>