<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store">
    <meta http-equiv="expires" content="0">
    <META http-equiv=Content-Type content="text/html; charset=gb2312">
    <SCRIPT src="jquery.js" type=text/javascript></SCRIPT>
    <SCRIPT type=text/javascript>
                function tInterimReportLoss(){
                	alert('1');
                    var url='/IFaceSuportService/iface/card/getEmpList';
                    var data={
                    		pageno:1,
                    		pageSize:1,
                    		channelcode : 'TSB',
                    		deviceid:"864881021751324"
                    		
                    }
                    $.ajax({
                        type:'post',
                        url:url,
                        data:JSON.stringify(data),
                        contentType:'application/json; charset=UTF-8',
                        dataType:'json',
                        success:function(result){
                            var transArray =result.data;
                           alert(result.statusCode);
                           alert(result.message);
                          
                        }
                    });
                }
                
                
                
                function sqlPage(){
                	alert('3');
                    var url='/IFaceSuportService/iface/card/queryPerDeclMedicareMx';
                    var data={
                    		channelcode : 'channeltype',
                    		pageno:1,
                      		 pageSize:2,
                    		sfzhm:'410503197507122512'
                    }
                    $.ajax({
                        type:'post',
                        url:url,
                        data:JSON.stringify(data),
                        contentType:'application/json; charset=UTF-8',
                        dataType:'json',
                        success:function(result){
                            var transArray =result.data;
                           alert(result.statusCode);
                        }
                    });
                }


				
				
			
	             
	             
	             
	             function addLogs(){
	                	alert('3');
	                    var url='/abc/iface/card/addLogs';
	                    var data={
	                    		devicesn : '3A:99:0A:FA:C0',
	                    		idcardnum:'430421199209072756',
	                    		sscardnum:'CA999999',
	                    		logtype:1,
	                    		devicetype:'PC',
	                    		contenttext:'测试成功正在处理中请稍后'
	                    		
	                    }
	                    $.ajax({
	                        type:'post',
	                        url:url,
	                        data:JSON.stringify(data),
	                        contentType:'application/json; charset=UTF-8',
	                        dataType:'json',
	                        success:function(result){
	                            var transArray =result.data;
	                           alert(result.statusCode);
	                        }
	                    }); 
	            
	                }
			</SCRIPT>


</head>
<BODY onload="">
<br/>
<input type="button"onclick="excCVS();"value="导出VCS"/>
<input type="button"onclick="getCollects();"value="西藏数据采集"/>


<input type="button"onclick="addLogs();"value="日志"/>

<br/>

</BODY>
</html>