<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.adapter.modules.sbjf.service.impl.GradeServiceImpl">

    <!-- 缴费档次列表 -->
    <select id="list" parameterType="String"
            resultType="com.tecsun.sisp.adapter.modules.sbjf.entity.GradeEntity">
        select GRADE_CODE, GRADE_NAME,GRADE_AMOUNT from TEST_YTH_GRADE g
        where g.insure_code = #{insureCode}
        order by g.SERIAL asc
    </select>


</mapper>