<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.adapter.modules.sbjf.service.impl.PayRecordServiceImpl">

    <!-- 根据缴费订单号获取信息缴费信息 -->
    <select id="payRecordDetailList" parameterType="String"
            resultType="com.tecsun.sisp.adapter.modules.sbjf.entity.PayRecordDetailEntity">
        select * from T_YTH_PAY_RECORD_DETAIL prd, T_YTH_PAY_RECORD pr
        where pr.pr_id = prd.pr_id and pr.flownum =#{flowNum}
    </select>


    <!--获取最新一条缴费记录-->
    <select id="payRecordInfo" parameterType="String"
            resultType="com.tecsun.sisp.adapter.modules.sbjf.entity.PayRecordEntity">
        select *  from T_YTH_PAY_RECORD pr
        where pr.PAY_NUM = #{payNum} and pr.tran_time = (
        select max(tran_time)  from T_YTH_PAY_RECORD p
        where p.PAY_NUM = #{payNum}
        )
    </select>

    <!--获取已缴费记录-->
    <select id="payRecordList" parameterType="java.util.Map"
            resultType="com.tecsun.sisp.adapter.modules.sbjf.entity.PayRecordEntity">
        select prd_id,prd.pay_num,prd.xm,prd.sfzh,insure_code,COALESCE(sub_insure_code, insure_code)  insure_type,grade_name,grade_amount,year
        from t_yth_pay_record_detail prd,t_yth_pay_record pr
        where pr.status = 1 and prd.pr_id = pr.pr_id
        <if test="payNum !=null and payNum !=''">
            and prd.pay_num = #{payNum}
        </if>
        <if test="xm !=null and xm !='' and sfzh !=null and sfzh !=''">
           and prd.xm = #{xm} and prd.sfzh = #{sfzh}
        </if>

    </select>

    <!-- 插入缴费记录 -->
    <insert id="insertPayRecord" parameterType="java.util.Map">
      <selectKey resultType="long" keyProperty="prId" order="BEFORE">
          select T_YTH_PAY_RECORD_SEQ.NEXTVAL from dual
      </selectKey>
        insert into T_YTH_PAY_RECORD pr (
        pr_id,
        pay_num,
        flownum,
        all_amount,
        channel_code,
        device_id,
        status)
        values (#{prId},
        #{payNum},
        #{flowNum},
        #{allAmount},
        #{channelcode},
        #{deviceid},
        0)
    </insert>

    <!-- 插入缴费详情记录 -->
    <insert id="insertPayRecordDetail" parameterType="com.tecsun.sisp.adapter.modules.sbjf.entity.PayRecordDetailEntity">
        <selectKey resultType="long" keyProperty="prdId" order="BEFORE">
            select T_YTH_PAY_RECORD_DETAIL_SEQ.NEXTVAL from dual
        </selectKey>
       insert into t_Yth_Pay_Record_Detail prd (
        prd_id,
        insure_code,
        pr_id,
        pay_num,
        xm,
        sfzh,
        relation,
        grade_code,
        grade_name,
        year,
        sub_insure_code,
        grade_amount,
        pay_id
        )
       values(#{prdId},
        #{insureCode},
        #{prId},
        #{payNum},
        #{xm},
        #{sfzh},
        #{relation},
        #{gradeCode},
        #{gradeName},
        #{year},
        #{subInsureCode},
        #{gradeAmount},
        #{payId}
        )
    </insert>

    <!-- 修改缴费记录状态 -->
    <update id="updateRecordStatus"
            parameterType="java.util.Map">
        update T_YTH_PAY_RECORD pr
        set pr.status = #{status},
        pr.err_msg = #{errMsg},
        pr.tran_num = #{tranNum},
        pay_type = #{payType},
        pr.update_time = sysdate
        where pr.flownum = #{flowNum}
    </update>
</mapper>