<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
        xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd"
       default-lazy-init="true">
       
	<context:component-scan base-package="com.tecsun.sisp.adapter">
	 <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan> 

    <context:property-placeholder ignore-unresolvable="true" location="classpath:config.properties" />
    
    <!--基础数据 数据源    -->
    <bean id="sispDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.sisp.driverClassName}"/>
        <property name="url" value="${jdbc.sisp.url}"/>
        <property name="username" value="${jdbc.sisp.username}"/>
        <property name="password" value="${jdbc.sisp.password}"/>
    </bean>

    <!--业务数据 数据源-->
    <bean id="csspDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.cssp.driverClassName}"/>
        <property name="url" value="${jdbc.cssp.url}"/>
        <property name="username" value="${jdbc.cssp.username}"/>
        <property name="password" value="${jdbc.cssp.password}"/>
    </bean>

    <!--补换卡平台数据库数据源-->
    <bean id="sssmDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.sssm.driverClassName}"/>
        <property name="url" value="${jdbc.sssm.url}"/>
        <property name="username" value="${jdbc.sssm.username}"/>
        <property name="password" value="${jdbc.sssm.password}"/>
    </bean>
    
    <!--第三方数据源 数据源-->
    <bean id="otherDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.other.driverClassName}"/>
        <property name="url" value="${jdbc.other.url}"/>
        <property name="username" value="${jdbc.other.username}"/>
        <property name="password" value="${jdbc.other.password}"/>
    </bean>
    
    <!--吉林荣科、省卡管采集数据库 数据源-->
    <bean id="skcjDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.skcj.driverClassName}"/>
        <property name="url" value="${jdbc.skcj.url}"/>
        <property name="username" value="${jdbc.skcj.username}"/>
        <property name="password" value="${jdbc.skcj.password}"/>
    </bean>
    
    <!--德生宝发卡数据库 数据源-->
    <bean id="sispFakaDatasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.faka.driverClassName}"/>
        <property name="url" value="${jdbc.faka.url}"/>
        <property name="username" value="${jdbc.faka.username}"/>
        <property name="password" value="${jdbc.faka.password}"/>
    </bean>
    
    <!-- 吉林医保监控项目临时库 start -->
    <!-- <bean id="tempDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.temp.driverClassName}"/>
        <property name="url" value="${jdbc.temp.url}"/>
        <property name="username" value="${jdbc.temp.username}"/>
        <property name="password" value="${jdbc.temp.password}"/>
    </bean> -->
    <!-- 吉林医保监控项目临时库 end -->
     
     
     
    <bean id="dynamicDataSource" class="com.tecsun.sisp.adapter.common.datasource.DynamicDataSource">
      <property name="defaultTargetDataSource" ref="sispDataSource"/>
      <property name="targetDataSources">
          <map>
              <entry value-ref="sispDataSource" key="sispDataSource"/>
              <entry value-ref="csspDataSource" key="csspDataSource"/>
              <entry value-ref="sssmDataSource" key="sssmDataSource"/>
              <entry value-ref="otherDataSource" key="otherDataSource"/>
              <entry value-ref="skcjDataSource" key="skcjDataSource"/>
              <entry value-ref="sispFakaDatasource" key="sispFakaDatasource"/>
              <!-- 吉林监控项目 -->
             <!--  <entry value-ref="tempDataSource" key="tempDataSource"/> -->
          </map>
      </property>
    </bean>
    

   <!-- mybatis文件配置，扫描所有mapper文件,不需要mybatis的配置映射文件； -->
   <!-- 
	<bean id="sispSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="sispDataSource" />
		<property name="configLocation" value="classpath:/config/mybatis-config.xml"/>
		<property name="mapperLocations" value="classpath*:/mapper/so/*.xml"/>
	</bean>
    <bean id="csspSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="csspDataSource" />
        <property name="mapperLocations" value="classpath:/mapper/cssp/CsspServiceMapper.xml"/>
        <property name="configLocation" value="classpath:/config/mybatis-config.xml"/>
    </bean>
 	-->
 	
 	
    <!-- mybatis文件配置，扫描所有mapper文件,不需要mybatis的配置映射文件； -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dynamicDataSource" />
		<property name="configLocation" value="classpath:/config/mybatis-config.xml"/>
		<!-- 自动扫描mapping.xml文件 -->
		<property name="mapperLocations" value="classpath*:/mapper/**/*.xml"/>
	</bean>

  	<!-- DAO接口所在包名，Spring会自动查找其下的类
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.tecsun.sisp.adapter.modules.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
		<property name="annotationClass" value="com.tecsun.sisp.adapter.common.util.MyBatisDao"/>
	</bean>
	 -->
 	
    <!-- cssp社保卡申领 扫描basePackage下所有以@MyBatisDao注解的接口 -->
    <!--  
    <bean id="mapperScannerConfigurer4" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="basePackage" value="com.tecsun.sisp.adapter.modules.dao.cssp"/>
        <property name="annotationClass" value="com.tecsun.sisp.adapter.common.util.MyBatisDao"/>
    </bean>
	-->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	
 	<tx:annotation-driven />
 	
    <!--spring 事务配置-->

     <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dynamicDataSource"/>
    </bean>
    
    <bean id="tx_cssp" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
   		<property name="dataSource" ref="csspDataSource"></property>
   		<qualifier value="cssp"></qualifier>		
   	</bean>
    
   
   	<!-- 吉林医保监控项目事务配置 start -->
   	<!-- <bean id="tx_monitor" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
   		<property name="dataSource" ref="tempDataSource"></property>
   		<qualifier value="monitor"></qualifier>		
   	</bean> -->
   	<!-- 吉林医保监控项目事务配置 end -->
   
   	
    <!--
   <bean id="trans_5" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
       <property name="dataSource" ref="dynamicDataSource"/>
   </bean>
   -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    
    <!--配置事务传播特性-->

    <!--<tx:advice id="transViewAdvice" transaction-manager="transactionManager">-->
        <!--<tx:attributes>-->
            <!--<tx:method name="*" propagation="REQUIRED"/>-->
        <!--</tx:attributes>-->
    <!--</tx:advice>-->
    <!--配置参与事务的类-->

    <!--<aop:config>-->
        <!--<aop:pointcut id="transServicePointcut" expression="execution(* com.tecsun.sisp.adapter.modules.*.service.impl..*(..))"/>-->
        <!--<aop:advisor pointcut-ref="transServicePointcut" advice-ref="transViewAdvice"/>-->
    <!--</aop:config>-->

    
    
    
	   
</beans>