<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.adapter.modules.cyt.service.impl.PersonServiceImpl">
    <!-- 查询参保信息 -->
    <select id="personSelect" parameterType="Map"
            resultType="com.tecsun.sisp.adapter.modules.cyt.entity.response.PersonBean">
        select * from TEST_YTH_CYT_PERSON t
        where t.sfzh = #{sfzh}
    </select>

    <!--更新参保信息-->
    <update id="personUpdate" parameterType="Map">
        UPDATE TEST_YTH_CYT_PERSON SET
        TCYE = #{tcye}
        WHERE sfzh = #{sfzh}
    </update>

    <select id="doctorSelect" parameterType="Map"
            resultType="com.tecsun.sisp.adapter.modules.cyt.entity.response.DoctorBean">
        select * from TEST_YTH_CYT_DOCTOR t
        where t.zh = #{zh}
    </select>
</mapper>