<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.adapter.modules.cyt.service.impl.DiseaseServiceImpl">
    <!-- 查询疾病列表 -->
    <select id="diseaseSelect" parameterType="com.tecsun.sisp.adapter.modules.cyt.entity.request.DiseaseBean"
            resultType="com.tecsun.sisp.adapter.modules.cyt.entity.response.DiseaseDirectoryBean">
        select * from TEST_YTH_CYT_DISEASEDIRECTORY t
        where 1=1
        <if test="jbcx != null and jbcx != ''">
            AND (jbbm like '%' || #{jbcx} || '%') or (jbmc LIKE '%' || #{jbcx} || '%')
        </if>
    </select>
</mapper>