<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.adapter.modules.account.service.impl.AccountServiceImpl">
    <!--注册账号（个人版）-->
    <insert id="insertAccountInfo"
            parameterType="com.tecsun.sisp.adapter.modules.account.entity.request.AccountBean">
        insert into T_YTH_ACCOUNT_INFO
        (ACCOUNT_ID,ACCOUNT_NAME,ACCOUNT_PWD,SFZH,PHONE,SEX,CHANNELCODE,PWD_ISUPDATE,OPENID,ALIPAYID,
        NATION,ADDRESS,COMPANY,STATUS,ROLE_CODE,DESCRIPTION,CREATE_TIME,IS_WECHAT,COMPARE_PIC_ID)
        values
        (#{accountId},#{accountName},#{accountPwd},#{sfzh},#{phone},#{sex},#{channelcode},#{pwdIsupdate},#{openid},#{alipayId},
        #{nation},#{address},#{company},#{status},#{roleCode},#{description},sysdate,#{isWechat},#{comparePicId})
    </insert>

    <!--查询账号信息-->
    <select id="getAccountInfo" parameterType="java.util.Map"
            resultType="com.tecsun.sisp.adapter.modules.account.entity.response.AccountVO">
        select ACCOUNT_ID as accountId,ACCOUNT_NAME as accountName,ACCOUNT_PWD as accountPwd,SFZH as sfzh,
       PHONE as phone,SEX as sex,NATION as nation,ADDRESS as address,COMPANY as company,OPENID as openid，
        STATUS as status,ROLE_CODE as roleCode,DESCRIPTION as description,ALIPAYID as alipayId,CHANNELCODE as channelcode
         from T_YTH_ACCOUNT_INFO a
         where 1=1
        <if test="accountId !=null and accountId !=''"> and a.ACCOUNT_ID=#{accountId}</if>
        <if test="sfzh !=null and sfzh !=''"> and a.SFZH=#{sfzh}</if>
        <if test="phone !=null and phone !=''"> and a.PHONE=#{phone}</if>
        <if test="openid !=null and openid !=''"> and a.OPENID=#{openid}</if>
        <if test="alipayId !=null and alipayId !=''"> and a.ALIPAYID=#{alipayId}</if>
        <if test="isWechat !=null and isWechat !=''"> and a.IS_WECHAT=#{isWechat}</if>
    </select>

    <!--更改账户信息-->
    <update id="updateAccountInfo"
            parameterType="com.tecsun.sisp.adapter.modules.account.entity.request.AccountBean">
        update T_YTH_ACCOUNT_INFO set UPDATE_TIME=sysdate, UPDATE_ACCOUNT_ID=#{accountId}
        <if test="sfzh !=null and sfzh !=''"> , SFZH=#{sfzh}</if>
        <if test="accountName !=null and accountName !=''">,ACCOUNT_NAME=#{accountName}</if>
        <if test="sex !=null and sex !=''">,SEX=#{sex}</if>
        <if test="nation !=null and nation !=''">,NATION=#{nation}</if>
        <if test="address !=null and address !=''">,ADDRESS=#{address}</if>
        <if test="company !=null and company !=''">,COMPANY=#{company}</if>
        <if test="status !=null and status !=''">,STATUS=#{status}</if>
        <if test="description !=null and description !=''">,DESCRIPTION=#{description}</if>
        <if test="phone !=null and phone !=''">,PHONE=#{phone}</if>
        <if test="roleCode !=null and roleCode !=''">,ROLE_CODE=#{roleCode}</if>
        <if test="openid !=null and openid !=''">,OPENID=#{openid}</if>
        <if test="alipayId !=null and alipayId !=''">,ALIPAYID=#{alipayId}</if>
        <if test="isWechat !=null and isWechat !=''">,IS_WECHAT=#{isWechat}</if>
        <if test="comparePicId !=null and comparePicId !=''">,COMPARE_PIC_ID=#{comparePicId}</if>
        where ACCOUNT_ID=#{accountId}
    </update>
    <!--微信解绑-->
    <update id="disassociateWechat"
            parameterType="com.tecsun.sisp.adapter.modules.account.entity.request.AccountBean">
        update T_YTH_ACCOUNT_INFO set UPDATE_TIME=sysdate,OPENID='',IS_WECHAT='',COMPARE_PIC_ID=''
        where ACCOUNT_ID=#{accountId}
    </update>
    <!--支付宝解绑-->
    <update id="disassociateAlipay"
            parameterType="com.tecsun.sisp.adapter.modules.account.entity.request.AccountBean">
        update T_YTH_ACCOUNT_INFO set UPDATE_TIME=sysdate,ALIPAYID=''
        where ACCOUNT_ID=#{accountId}
    </update>
    <!--更改账户密码-->
    <update id="resetAccountPwd"
            parameterType="com.tecsun.sisp.adapter.modules.account.entity.request.AccountBean">
        update T_YTH_ACCOUNT_INFO set PWD_ISUPDATE='1',UPDATE_TIME=sysdate
        <if test="accountPwd !=null and accountPwd !=''"> , ACCOUNT_PWD=#{accountPwd}</if>
        where ACCOUNT_ID=#{accountId}
    </update>

    <!--查询角色列表-->
    <select id="getRoleList" parameterType="java.util.Map"
    resultType="com.tecsun.sisp.adapter.modules.account.entity.response.RoleVO">
        select ROLE_ID	as roleId,ROLE_CODE as roleCode,ROLE_NAME as roleName,DESCRIPTION as description,
        PARENT_ROLE_CODE as parentRoleCode,ROLE_STATUS as roleStatus
        from T_YTH_ACCOUNT_ROLE where 1=1
        <if test="roleCode !=null and roleCode !=''"> and ROLE_CODE=#{roleCode}</if>
        order by roleId
    </select>

    <!--查询角色对应功能-->
    <select id="getFuncOfRoleList" parameterType="java.util.Map"
            resultType="com.tecsun.sisp.adapter.modules.account.entity.response.FunctionVO">
        SELECT t.FUNC_ID as funcId,t.FUNC_NAME as  funcName,t.FUNC_STATUS as funcStatus,t.PARENT_FUNC_ID as parentFuncId
        FROM T_YTH_ACCOUNT_FUNCTION t
        left join   T_YTH_ACCOUNT_FUNC_AND_ROLE r
        on t.FUNC_ID=r.FUNC_ID
        where 1=1
        <if test="roleCode !=null and roleCode !=''"> and r.ROLE_CODE=#{roleCode}</if>
        order by funcId
    </select>

    <!--查询用户信息头像-->
    <select id="getAccountPhoto" parameterType="com.tecsun.sisp.adapter.modules.account.entity.request.AccountBean"
            resultType="com.tecsun.sisp.adapter.modules.account.entity.response.AccountVO">
        select t.*,t.pic_id as pic from T_YTH_ACCOUNT_PHOTO t where t.sfzh = (select sfzh from T_YTH_ACCOUNT_INFO where account_id = #{accountId})
    </select>

    <!--更新用户信息头像-->
    <update id="updateAccountPhoto" parameterType="com.tecsun.sisp.adapter.modules.account.entity.request.AccountBean">
      UPDATE T_YTH_ACCOUNT_PHOTO SET pic_id = #{pic} where sfzh = (select sfzh from T_YTH_ACCOUNT_INFO where account_id = #{accountId})
    </update>

    <!--新增用户信息头像-->
    <insert id="insertAccountPhoto" parameterType="com.tecsun.sisp.adapter.modules.account.entity.request.AccountBean">
        INSERT INTO T_YTH_ACCOUNT_PHOTO
        (id,sfzh,channelcode,alipayid,open_id,pic_id)
        VALUES
        (t_yth_account_photo_id_seq.nextval,(select sfzh from T_YTH_ACCOUNT_INFO where account_id = #{accountId}),
        (select channelcode from T_YTH_ACCOUNT_INFO where account_id = #{accountId}),#{alipayId},#{openid},#{pic})
    </insert>
    
    <!-- pc端查询微信绑定/解绑列表 -->
    <select id="getPCBindList" parameterType="com.tecsun.sisp.adapter.modules.account.entity.request.AccountBean"
            resultType="com.tecsun.sisp.adapter.modules.account.entity.response.AccountVO">
        select ACCOUNT_ID as accountId,ACCOUNT_NAME as accountName,SFZH as sfzh,
       PHONE as phone,OPENID as openid,UPDATE_TIME as createTime,IS_WECHAT as isWechat
         from T_YTH_ACCOUNT_INFO a
         where 1=1 and a.OPENID is not null
        <if test="sfzh !=null and sfzh !=''"> and a.SFZH=#{sfzh}</if>
        <if test="accountName !=null and accountName !=''"> and a.ACCOUNT_NAME=#{accountName}</if>
        order by UPDATE_TIME desc
    </select>
    
    
     <!-- pc端查询微信绑定信息详情 -->
    <select id="getPCBindDetail" parameterType="com.tecsun.sisp.adapter.modules.account.entity.request.AccountBean"
            resultType="com.tecsun.sisp.adapter.modules.account.entity.response.AccountVO">
        select a.ACCOUNT_ID as accountId,a.ACCOUNT_NAME as accountName,a.SFZH as sfzh,
       a.PHONE as phone,a.OPENID as openid,a.UPDATE_TIME as createTime,a.IS_WECHAT as isWechat,t.pic_path as comparePic
         from T_YTH_ACCOUNT_INFO a,t_yth_picture_info t
         where 1=1 and a.COMPARE_PIC_ID=t.pic_id
        <if test="accountId !=null and accountId !=''"> and a.ACCOUNT_ID=#{accountId}</if>
    </select>
    
    
    <!--PC端微信绑定-->
    <update id="bindWechat"
            parameterType="com.tecsun.sisp.adapter.modules.account.entity.request.AccountBean">
        update T_YTH_ACCOUNT_INFO set UPDATE_TIME=sysdate,IS_WECHAT='1'
        where ACCOUNT_ID=#{accountId} and OPENID is not null
    </update>
    
    
</mapper>