<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.fakamanagement.modules.service.impl.receive.CardReceiveServiceImpl">

    <!--<select id="queryCardReceive" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.receive.QueryCardReceiveBean"
    resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.receive.CardReceiveLogVO">
    	select i.name, i.idcard,i.cardid,i.company_name companyname,r.receive_time receivetime,i.status,i.old_cfwz oldcfwz,r.type,
		<![CDATA[ case when r.type<2 then r.photo else a.photo end photo,
		case when r.type<2 then i.phone else a.phone end phone,
		case when r.type<2 then i.name else a.name end agentname,
		case when r.type<2 then i.idcard else a.idcard end agentidcard,
		case when r.type<2 then r.idcard_photo_up else a.idcard_photo_up end idcardphotoup,
		case when r.type<2 then r.idcard_photo_down else a.idcard_photo_down end idcardphotodown,
		case when r.type<2 then r.sign_photo else a.sign_photo end signphoto]]> 
		from card_info i left join card_receive r on r.ciid=i.id left join card_agent a on a.agentid=r.agentid
		<where>
			1=1 and i.sync_status is null and i.status in (6,7,10)
			<if test="userid !=null and userid != ''"> and i.fkwd=#{userid}</if>
			<if test="idcard !=null and idcard != ''"> and i.idcard=#{idcard}</if>
			<if test="ciid !=null and ciid != ''"> and r.ciid=#{ciid}</if>
			<if test="name !=null and name != ''"> and i.name=#{name}</if>
			<if test="cardid !=null and cardid != ''"> and i.cardid=#{cardid}</if>
			<if test="company_code !=null and company_code != ''"> and i.company_code=#{company_code}</if>
		</where>
		order by r.receive_time asc
    </select>-->

    <select id="queryCardReceive" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.receive.QueryCardReceiveBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.receive.CardReceiveLogVO">
        select i.id,i.name, i.idcard,i.cardid,i.company_name companyname,r.receive_time receivetime,to_char(i.status) status,i.old_cfwz oldcfwz,to_char(r.type) type,r.domiciliary_register_photo,
        <![CDATA[ case when r.type<2 then r.photo else a.photo end photo,
		case when r.type<2 then i.phone else a.phone end phone,
		case when r.type<2 then i.name else a.name end agent_name,
		case when r.type<2 then i.idcard else a.idcard end agent_idcard,
		case when r.type<2 then r.idcard_photo_up else a.idcard_photo_up end idcard_photo_up,
		case when r.type<2 then r.idcard_photo_down else a.idcard_photo_down end idcard_photo_down,
		case when r.type<2 then r.sign_photo else a.sign_photo end sign_photo]]>
        from card_info i left join card_receive r on r.ciid=i.id left join card_agent a on a.agentid=r.agentid
        where i.sync_status is null and i.status in (6,7)
        <if test="userid !=null and userid != ''"> and i.fkwd=#{fkwd}</if>
        <if test="idcard !=null and idcard != ''"> and i.idcard=#{idcard}</if>
        <if test="ciid !=null and ciid != ''"> and r.ciid=#{ciid}</if>
        <if test="name !=null and name != ''"> and i.name=#{name}</if>
        <if test="cardid !=null and cardid != ''"> and i.cardid=#{cardid}</if>
        <if test="company_code !=null and company_code != ''"> and i.company_code=#{company_code}</if>
        order by r.receive_time asc
    </select>

    <!--领卡记录查询-正常卡、临时卡、即时卡-->
    <select id="queryCardReceiveList" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.receive.QueryCardReceiveBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.receive.CardReceiveLogVO">
        select i.id,i.name, i.idcard,i.cardid,i.company_name companyname,r.receive_time receivetime,to_char(i.status) status,i.old_cfwz oldcfwz,to_char(r.type) type,r.domiciliary_register_photo,
        <![CDATA[ case when r.type<2 then r.photo else a.photo end photo,
		case when r.type<2 then i.phone else a.phone end phone,
		case when r.type<2 then i.name else a.name end agent_name,
		case when r.type<2 then i.idcard else a.idcard end agent_idcard,
		case when r.type<2 then r.idcard_photo_up else a.idcard_photo_up end idcard_photo_up,
		case when r.type<2 then r.idcard_photo_down else a.idcard_photo_down end idcard_photo_down,
		case when r.type<2 then r.sign_photo else a.sign_photo end sign_photo]]>
        from card_info i left join card_receive r on r.ciid=i.id left join card_agent a on a.agentid=r.agentid
        where i.sync_status is null and i.status in (6,7)
            <if test="userid !=null and userid != ''"> and i.fkwd=#{fkwd}</if>
            <if test="idcard !=null and idcard != ''"> and i.idcard=#{idcard}</if>
            <if test="ciid !=null and ciid != ''"> and i.id=#{ciid}</if>
            <if test="name !=null and name != ''"> and i.name=#{name}</if>
            <if test="cardid !=null and cardid != ''"> and i.cardid=#{cardid}</if>
            <if test="company_code !=null and company_code != ''"> and i.company_code=#{company_code}</if>
        union
        select i.id,i.name, i.idcard,i.cardid,'' companyname,i.grant_time receivetime,i.status,'' oldcfwz,'临时卡领卡' type,'' domiciliary_register_photo,
        i.photo,'' phone,i.agent_name,i.agent_idcard,i.idcard_photo_up,i.idcard_photo_down,i.sign_photo
        from tempcard_person_info i,tempcard_detail d
        where i.tempcard_detail_id=d.id and i.status !='01'
          <if test="userid !=null and userid != ''"> and d.rkwd=#{orgid}</if>
          <if test="idcard !=null and idcard != ''"> and i.idcard=#{idcard}</if>
          <!--<if test="ciid !=null and ciid != ''"> and i.id=#{ciid}</if>-->
          <if test="name !=null and name != ''"> and i.name=#{name}</if>
          <if test="cardid !=null and cardid != ''"> and i.cardid=#{cardid}</if>
        union
        select i.id,i.name, i.idcard,d.cardid,'' companyname,i.create_time receivetime,d.status,'' oldcfwz,'即时卡领卡' type,'' domiciliary_register_photo,
        i.photo_url photo,i.mobile phone,i.name agent_name,i.idcard agent_idcard,i.idcard_photo_up,i.idcard_photo_down,i.sign_photo
        from replacecard_person_info i,replacecard_detail d
        where i.id=d.replacecard_person_id and d.status='01'
          <if test="userid !=null and userid != ''"> and d.rkwd=#{fkwd}</if>
          <if test="idcard !=null and idcard != ''"> and i.idcard=#{idcard}</if>
          <!--<if test="ciid !=null and ciid != ''"> and i.id=#{ciid}</if>-->
          <if test="name !=null and name != ''"> and i.name=#{name}</if>
          <if test="cardid !=null and cardid != ''"> and d.cardid=#{cardid}</if>
        order by receivetime asc
    </select>
    <!--领卡记录详情-正常卡-->
    <select id="queryCardReceiveInfo" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.receive.QueryCardReceiveBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.receive.CardReceiveLogVO">
        select i.id,i.name, i.idcard,i.cardid,i.company_name companyname,r.receive_time receivetime,to_char(i.status) status,i.old_cfwz oldcfwz,to_char(r.type) type,r.domiciliary_register_photo,
        <![CDATA[ case when r.type<2 then r.photo else a.photo end photo,
		case when r.type<2 then i.phone else a.phone end phone,
		case when r.type<2 then i.name else a.name end agent_name,
		case when r.type<2 then i.idcard else a.idcard end agent_idcard,
		case when r.type<2 then r.idcard_photo_up else a.idcard_photo_up end idcard_photo_up,
		case when r.type<2 then r.idcard_photo_down else a.idcard_photo_down end idcard_photo_down,
		case when r.type<2 then r.sign_photo else a.sign_photo end sign_photo]]>
        from card_info i left join card_receive r on r.ciid=i.id left join card_agent a on a.agentid=r.agentid
        where i.id=#{id}
    </select>
    <!--领卡记录详情-临时卡-->
    <select id="queryCardReceiveInfo2" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.receive.QueryCardReceiveBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.receive.CardReceiveLogVO">
        select distinct i.id,i.name, i.idcard,i.cardid,'' companyname,i.grant_time receivetime,i.status,'' oldcfwz,'临时卡领卡' type,'' domiciliary_register_photo,
        i.photo,'' phone,i.agent_name,i.agent_idcard,i.idcard_photo_up,i.idcard_photo_down,i.sign_photo
        from tempcard_person_info i,tempcard_detail d
        where i.tempcard_detail_id=d.id and i.id=#{id}
    </select>
    <!--领卡记录详情-即时卡-->
    <select id="queryCardReceiveInfo3" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.param.receive.QueryCardReceiveBean"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.receive.CardReceiveLogVO">
        select distinct i.id,i.name, i.idcard,d.cardid,'' companyname,i.create_time receivetime,d.status,'' oldcfwz,'即时卡领卡' type,'' domiciliary_register_photo,
        i.photo_url photo,i.mobile phone,i.name agent_name,i.idcard agent_idcard,i.idcard_photo_up,i.idcard_photo_down,i.sign_photo
        from replacecard_person_info i,replacecard_detail d
        where i.id=d.replacecard_person_id and i.id=#{id}
    </select>


    <select id="queryAgent" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.receive.CardAgentVO" 
    resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.receive.CardAgentVO">
    	select * from card_agent a where a.idcard=#{idcard}
    </select>

    <insert id="insertCardReceive" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.receive.CardReceiveVO">
    	<selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
            select seq_card_receive.nextval from dual
        </selectKey>
       	insert into card_receive(id,ciid,type,receive_time,photo,idcard_photo_up,idcard_photo_down,sign_photo,agentid) 
		values (#{id},#{ciid},#{type},
		 <choose>
                <when test="receive_time !=null and receive_time != ''">
                       to_date(#{receive_time}, 'yyyy-mm-dd hh24:mi:ss'),
                </when>
                <otherwise>
                       sysdate,
                 </otherwise>
         </choose>
		#{photo},#{idcard_photo_up},#{idcard_photo_down},#{sign_photo},#{agentid})
    </insert>

    <insert id="insertCardAgent" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.receive.CardAgentVO">
    	<selectKey keyProperty="agentid" resultType="java.lang.Integer" order="BEFORE">
            select seq_card_agent.nextval from dual
        </selectKey>
       	insert into card_agent(agentid,photo,idcard_photo_up,idcard_photo_down,sign_photo,idcard,name,phone) 
		values (#{agentid},#{photo},#{idcard_photo_up},#{idcard_photo_down},#{sign_photo},#{idcard},#{name},#{phone})
    </insert>

    <insert id="insertPrintLog" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.receive.PrintLogVO">
    	<selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
            select SEQ_CARD_PRINT_LOG.nextval from dual
        </selectKey>
       insert into  CARD_INFO_PRINT_LOG(id,Idcard,Name,Print_Time,receivenum) values (#{id},#{idcard},#{name},sysdate,#{receivenum})
    </insert>

    <!--查询卡片是否入库 -->
    <select id="checkCardInfoByIdcard" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.card.CardInfoVO"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.card.CardInfoVO">
        select id,name,idcard,fkwd,status
        from card_info
        where idcard=#{idcard}
    </select>

    <!--通过org_code查询userid -->
    <select id="getUseridByOrgcode" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.card.CardInfoVO"
            resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.card.CardInfoVO">
        select u.user_id as loginuserid
        from sisp_public.t_user u,sisp_public.t_org o
        where u.org_id=o.org_id and o.org_code=#{fkwd}
    </select>

</mapper>