<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.adapter.modules.so.service.impl.SecQueryServiceImpl">

	<select id="getBasicInsuredInfo" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.InsuranceVO">
		SELECT t.xm,t.sfzh,t.cbzt,t.cbsj,t.cbdw,t.sbkh,t.grxp FROM TEST_BASIC_INSURED_INFO t
		WHERE t.sfzh = #{sfzh}
		<if test="xm != null and xm != ''">
			AND t.xm = #{xm}
		</if>
	</select>

	<select id="getIncureTypeList" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.IncureTypeVO">
		SELECT t.cbzt,t.cbxz FROM TEST_INCURE_TYPE_LIST t
		WHERE t.sfzh = #{sfzh}
		<if test="xm != null and xm != ''">
			AND t.xm = #{xm}
		</if>
	</select>

	<!-- 查询人员参保信息 -->
	<select id="getUserCBInfo" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
			resultType="com.tecsun.sisp.adapter.modules.so.entity.response.UserCBInfoVO">
		SELECT t.cbzt,t.cbxz,t.title,t.url FROM TEST_USER_CB_INFO t
		<!--WHERE t.sfzh = #{sfzh}-->
		<!--<if test="xm != null and xm != ''">-->
			<!--AND t.xm = #{xm}-->
		<!--</if>-->
		order by t.seq asc
	</select>
	
	<!-- 医疗保险(MI)缴费 -->
	<select id="getMIPaymentBasicInfo" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.FiveInsuranceVO">
		SELECT t.sfzh,t.xm,t.cbzt,t.jnze,t.dwjnhj,t.grjnhj FROM TEST_MI_PAYMENT_BASIC_INFO t
		WHERE t.sfzh = #{sfzh} AND t.xm= #{xm}
	</select>

	<select id="getMIPaymentRecord" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.MIRecordVO">
		SELECT t.ssq,t.xz,t.jfjs,t.dwjn,t.grjn,t.jnze,t.xm,t.sfzh FROM TEST_MI_PAYMENT_RECORD t  
		WHERE  t.sfzh = #{sfzh} 
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
		<if test="ksny != null and ksny != ''">
			AND to_date(t.ssq,'YYYY-MM') &gt;=to_date(#{ksny},'YYYY-MM')
		</if>
		<if test="jsny != null and jsny != ''">
			AND to_date(t.ssq,'YYYY-MM') &lt;=to_date(#{jsny},'YYYY-MM')
		</if>
		ORDER BY to_date(t.ssq,'YYYY-MM') DESC
	</select>
	
	<!-- 医疗保险账户（MA）明细 -->
	<select id="getMABasicInfo" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.MAIncureVO">
		SELECT t.sfzh,t.xm,t.grybzhye FROM TEST_MA_BASIC_INFO t
		WHERE t.sfzh = #{sfzh}
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
	</select>

	<select id="getMADetail" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.MARecordVO">
		SELECT t.jysj,t.fyfsd,t.lx,t.zfy,t.tczhzf,t.grzhzf,t.zf,t.xm,t.sfzh FROM TEST_MA_DETAIL t  
		WHERE  t.sfzh = #{sfzh} 
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
		<if test="ksny != null and ksny != ''">
			AND to_date(to_char( to_date(t.jysj,'YYYY-MM-dd') ,'YYYY-MM'),'YYYY-MM') &gt;=to_date(#{ksny},'YYYY-MM')
		</if>
		<if test="jsny != null and jsny != ''">
			AND to_date(to_char( to_date(t.jysj,'YYYY-MM-dd') ,'YYYY-MM'),'YYYY-MM') &lt;=to_date(#{jsny},'YYYY-MM')
		</if>
		ORDER BY to_date(t.jysj,'YYYY-MM-DD') DESC
	</select>
	
	<!-- 养老保险(EI)缴费 -->
	<select id="getEIPaymentBasicInfo" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.FiveInsuranceVO">
		SELECT t.xm,t.sfzh,t.cbzt,t.jnze,t.dwjnhj,t.grjnhj FROM TEST_EI_PAYMENT_BASIC_INFO t
		WHERE t.sfzh = #{sfzh}
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
	</select>

	<select id="getEIPaymentRecord" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.EIPayRecordVO">
		SELECT t.ssq,t.xz,t.jfjs,t.dwjn,t.grjn,t.jnze FROM TEST_EI_PAYMENT_RECORD t  
		WHERE  t.sfzh = #{sfzh} 
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
		<if test="ksny != null and ksny != ''">
			AND to_date(t.ssq,'YYYY-MM') &gt;=to_date(#{ksny},'YYYY-MM')
		</if>
		<if test="jsny != null and jsny != ''">
			AND to_date(t.ssq,'YYYY-MM') &lt;=to_date(#{jsny},'YYYY-MM')
		</if>
		ORDER BY to_date(t.ssq,'YYYY-MM') DESC
	</select>
	
	<!-- 养老保险待遇发放 -->
	<select id="getEIIssueBasicInfo" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.EIIssueBasicVO">
		SELECT t.sfzh,t.xm,t.yljffzje FROM TEST_EI_ISSUE_BASIC_INFO t
		WHERE t.sfzh = #{sfzh} 
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
	</select>

	<select id="getEIIssueRecord" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.EIIssueRecordVO">
		SELECT t.ffsj,t.ffyh,t.ffzh,t.ffzje,t.jcylj,t.grzhylj,t.gdxylj,t.bfje,t.tfje FROM TEST_EI_ISSUE_RECORD t  
		WHERE  t.sfzh = #{sfzh} 
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
		<if test="ksny != null and ksny != ''">
			AND to_date(t.ffsj,'YYYY-MM') &gt;=to_date(#{ksny},'YYYY-MM')
		</if>
		<if test="jsny != null and jsny != ''">
			AND to_date(t.ffsj,'YYYY-MM') &lt;=to_date(#{jsny},'YYYY-MM')
		</if>
		ORDER BY to_date(t.ffsj,'YYYY-MM') DESC
	</select>
	
	<!-- 生育保险(BI)缴费 -->
	<select id="getBIPaymentBasicInfo" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.FiveInsuranceVO">
		SELECT t.xm,t.sfzh,t.cbzt,t.jnze,t.dwjnhj,t.grjnhj FROM TEST_BI_PAYMENT_BASIC_INFO t
		WHERE t.sfzh = #{sfzh}
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
	</select>

	<select id="getBIPaymentRecord" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.FiveInsuranceRecordVO">
		SELECT t.ssq,t.jfjs,t.dwjn,t.grjn,t.jnze FROM TEST_BI_PAYMENT_RECORD t  
		WHERE  t.sfzh = #{sfzh} 
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
		<if test="ksny != null and ksny != ''">
			AND to_date(t.ssq,'YYYY-MM') &gt;=to_date(#{ksny},'YYYY-MM')
		</if>
		<if test="jsny != null and jsny != ''">
			AND to_date(t.ssq,'YYYY-MM') &lt;=to_date(#{jsny},'YYYY-MM')
		</if>
		ORDER BY to_date(t.ssq,'YYYY-MM') DESC
	</select>
	
	<!--工伤保险(EII)缴费 -->
	<select id="getEIIPaymentBasicInfo" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.FiveInsuranceVO">
		SELECT t.xm,t.sfzh,t.cbzt,t.jnze,t.dwjnhj,t.grjnhj FROM TEST_EII_PAYMENT_BASIC_INFO t
		WHERE t.sfzh = #{sfzh}
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
	</select>

	<select id="getEIIPaymentRecord" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.FiveInsuranceRecordVO">
		SELECT t.ssq,t.jfjs,t.dwjn,t.grjn,t.jnze FROM TEST_EII_PAYMENT_RECORD t  
		WHERE  t.sfzh = #{sfzh} 
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
		<if test="ksny != null and ksny != ''">
			AND to_date(t.ssq,'YYYY-MM') &gt;=to_date(#{ksny},'YYYY-MM')
		</if>
		<if test="jsny != null and jsny != ''">
			AND to_date(t.ssq,'YYYY-MM') &lt;=to_date(#{jsny},'YYYY-MM')
		</if>
		ORDER BY to_date(t.ssq,'YYYY-MM') DESC
	</select>


	<!--失业保险(UEI)缴纳 -->
	<select id="getUEIPaymentBasicInfo" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.FiveInsuranceVO">
		SELECT t.xm,t.sfzh,t.cbzt,t.jnze,t.dwjnhj,t.grjnhj FROM TEST_UEI_PAYMENT_BASIC_INFO t
		WHERE t.sfzh = #{sfzh}
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
	</select>

	<select id="getUEIPaymentRecord" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.FiveInsuranceRecordVO">
		SELECT t.ssq,t.jfjs,t.dwjn,t.grjn,t.jnze FROM TEST_UEI_PAYMENT_RECORD t  
		WHERE  t.sfzh = #{sfzh} 
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
		<if test="ksny != null and ksny != ''">
			AND to_date(t.ssq,'YYYY-MM') &gt;=to_date(#{ksny},'YYYY-MM')
		</if>
		<if test="jsny != null and jsny != ''">
			AND to_date(t.ssq,'YYYY-MM') &lt;=to_date(#{jsny},'YYYY-MM')
		</if>
		ORDER BY to_date(t.ssq,'YYYY-MM') DESC
	</select>
	
	
	<!--城乡居民养老保险(URREI)缴纳 -->
	<select id="getURREIPaymentBasicInfo" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.URREIPayBasicVO">
		SELECT t.sfzh,t.xm,t.cbzt,t.jnze,t.ljjnnx FROM TEST_URREI_PAYMENT_BASIC_INFO t
		WHERE t.sfzh = #{sfzh} 
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
	</select>

	<select id="getURREIPaymentRecord" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.URREIPayRecord">
		SELECT t.ssq,t.grjn,t.zfbt,t.qtbz,t.dj FROM TEST_URREI_PAYMENT_RECORD t  
		WHERE  t.sfzh = #{sfzh} 
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
		ORDER BY to_date(t.ssq,'YYYY') DESC
	</select>
	
	<!--城乡居民养老保险(URREI)待遇发放 -->
	<select id="getURREIIssueBasicInfo" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.URREIIssueBasicVO">
		SELECT t.sfzh,t.xm,t.yljffzje FROM TEST_URREI_ISSUE_BASIC_INFO t
		WHERE t.sfzh = #{sfzh} 
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
	</select>

	<select id="getURREIIssueRecord" parameterType="com.tecsun.sisp.adapter.modules.so.entity.request.PaymentQueryBean"
		resultType="com.tecsun.sisp.adapter.modules.so.entity.response.URREIIssueRecordVO">
		SELECT t.ffsj,t.ffyh,t.ffzh,t.ffzje,t.jcylj,t.grzhylj,t.bfje,t.tfje FROM TEST_URREI_ISSUE_RECORD t  
		WHERE  t.sfzh = #{sfzh} 
		<if test="xm != null and xm != ''">
			AND t.xm= #{xm}
		</if>
		<if test="ksny != null and ksny != ''">
			AND to_date(t.ffsj,'YYYY-MM') &gt;=to_date(#{ksny},'YYYY-MM')
		</if>
		<if test="jsny != null and jsny != ''">
			AND to_date(t.ffsj,'YYYY-MM') &lt;=to_date(#{jsny},'YYYY-MM')
		</if>
		ORDER BY to_date(t.ffsj,'YYYY-MM') DESC
	</select>

    <!--医保账户余额查询-->
    <select id="getBalanceOfMIAccount" parameterType="java.util.Map"
            resultType="com.tecsun.sisp.adapter.modules.so.entity.response.BlanceOfMIAccountVO">
        SELECT t.sfzh,t.xm,t.poolAccount,t.individualAccount FROM TEST_BALANCE_OF_MIACCOUNT t
        WHERE t.sfzh = #{sfzh}
        <if test="xm != null and xm != ''">
            AND t.xm= #{xm}
        </if>
    </select>
	
</mapper>