<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.sisp.fakamanagement.modules.service.impl.store.CardCabinetManageServiceImpl">

    <!-- 新增卡柜 -->
    <insert id="addCabinet" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.card.CardCabinetVO">
    	<selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
            select seq_card_cabinet.nextval from dual
        </selectKey>
        insert into card_cabinet(id,ccid,userid,create_time) values(#{id},#{ccid},#{userid},sysdate)
    </insert>

    <!-- 查询卡柜 -->
    <select id="getCabinets" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.card.CardCabinetVO"
        resultType="com.tecsun.sisp.fakamanagement.modules.entity.result.card.CardCabinetVO">
        select id,ccid,userid,create_time from card_cabinet where userid=#{userid}
        order by ccid
    </select>

    <!-- 根据卡柜名称和用户id查询卡柜数量 -->
    <select id="countCardBinets" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.card.CardCabinetVO"
            resultType="java.lang.Integer">
        select count(*) from card_cabinet where ccid=#{ccid} and userid=#{userid}
    </select>

    <!-- 修改卡柜信息 -->
    <update id="updateCabinet" parameterType="com.tecsun.sisp.fakamanagement.modules.entity.result.card.CardCabinetVO">
        update card_cabinet set ccid=#{ccid},update_time=sysdate where id=#{id}
    </update>

</mapper>