<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecsun.siboss.tsbm.modules.version.service.VersionUpdateListMapper">

    <select id="getSequence" resultType="long">
        select t_tsbm_version_update_list_seq.nextval from dual
    </select>

    <!--查看软件版本更新记录-->
    <select id="getList" resultType="com.tecsun.siboss.tsbm.modules.version.entity.VersionUpdateListVO"
            parameterType="com.tecsun.siboss.tsbm.modules.version.entity.VersionUpdateListParam">
        select t.id, t.device_no, t.version_id, t.status, t.update_time,
        t.finish_time,t.return_code,t.update_type,t.create_time,
        t.create_user,t.mod_time,t.mod_user,t.push_num,t.remark,
        v.name, v.version, v.device_type, v.area_Ids
        from t_tsbm_version_update_list t LEFT JOIN t_tsbm_version v ON t.version_id = v.id
        where 1=1 AND v.isdelete = 'N'
        <if test="deviceNo != null and deviceNo != ''">
            and t.device_no = #{deviceNo, jdbcType=INTEGER}
        </if>
        <if test="name != null and name != ''">
            and v.name = #{name, jdbcType=VARCHAR}
        </if>
        <if test="areaId != null">
            AND v.area_ids like '%'||#{areaId}||'%'
        </if>
        <if test="version != null and version != ''">
            and v.version = #{version,jdbcType=VARCHAR}
        </if>

        <if test="status != null and status != ''">
            and t.status = #{status, jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and t.update_time = #{updateTime,jdbcType=DATE}
        </if>
        <if test="finishTime != null and finishTime != ''">
            and t.finish_time = #{finishTime,jdbcType=DATE}
        </if>
        <if test="returnCode != null and returnCode != ''">
            and t.return_code = #{returnCode,jdbcType=VARCHAR}
        </if>
        <if test="updateType != null and updateType != ''">
            and t.update_type = #{updateType,jdbcType=VARCHAR}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and t.create_time <![CDATA[>=#{beginTime}]]>
        </if>
        <if test="endTime != null and endTime != ''">
            and t.create_time <![CDATA[<=#{endTime}]]>
        </if>
        <if test="createUser != null and createUser != ''">
            and t.create_user = #{createUser,jdbcType=VARCHAR}
        </if>
        <if test="modTime != null and modTime != ''">
            and t.mod_time = #{modTime,jdbcType=DATE}
        </if>
        <if test="modUser != null and modUser != ''">
            and t.mod_user = #{modUser,jdbcType=VARCHAR}
        </if>
        <if test="pushNum != null and pushNum != ''">
            and t.push_num = #{pushNum,jdbcType=INTEGER}
        </if>
        <if test="remark != null and remark != ''">
            and t.remark = #{remark,jdbcType=VARCHAR}
        </if>
        ORDER BY t.id DESC
    </select>

    <select id="getVersionUpdateList" resultType="com.tecsun.siboss.tsbm.modules.version.entity.VersionUpdateListVO"
            parameterType="java.lang.Long">
       select t.id, t.device_no, t.version_id, t.status, t.update_time,
               t.finish_time,t.return_code,t.update_type,t.create_time,
               t.create_user,t.mod_time,t.mod_user,t.push_num,t.remark,
               v.name as deviceName, v.version,v.device_type
        from t_tsbm_version_update_list t LEFT JOIN t_tsbm_version v ON t.version_id = v.id
        where  t.id=#{id}
    </select>

    <select id="deleteVersionUpdateList" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        delete from t_tsbm_version_update_list where id=#{id}
    </select>

    <select id="addVersionUpdateList" resultType="java.lang.Integer" parameterType="java.util.Map">
        insert into t_tsbm_version_update_list
        (id, device_no, version_id, status,
         update_type,create_time,create_user,push_num,remark
        )
        values
        (t_tsbm_version_update_list_seq.nextval, #{deviceId}, #{versionId}, #{status},
         #{updateType},sysdate,#{createUser},#{pushNum},#{remark}
        )
    </select>

    <select id="modifyVersionUpdateList" resultType="java.lang.Integer" parameterType="java.util.Map">
        update t_tsbm_version_update_list
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="versionId != null">
                version_id = #{versionId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="finishTime != null">
                finish_time = #{finishTime},
            </if>
            <if test="returnCode != null">
                return_code = #{returnCode},
            </if>
            <if test="modTime != null">
                mod_time = #{modTime},
            </if>
            <if test="modUser != null">
                mod_user = #{modUser},
            </if>
            <if test="pushNum != null">
                push_num = #{pushNum},
            </if>
            <if test="remark != null">
                remark = #{remark}
            </if>
        </set>
        where id=#{id}
    </select>

    <select id="check" parameterType="java.util.Map"
            resultType="com.tecsun.siboss.tsbm.modules.version.entity.VersionUpdateListVO">
        SELECT id, device_no, version_id, status, update_time,
               finish_time,return_code, update_type, create_time,
               create_user, mod_time, mod_user, push_num, remark
        from t_tsbm_version_update_list
        where device_no=#{deviceNo} AND version_id = #{versionId} AND status = #{status} AND update_type = #{updateType}
    </select>

    <select id="getByVerId" resultType="com.tecsun.siboss.tsbm.modules.version.entity.VersionUpdateListVO"
            parameterType="java.lang.Long">
        select * from t_tsbm_version_update_list
        where  version_id = #{id}
    </select>
</mapper>